/* --------------------------------- 
PANEL BOX
--------------------------------- */
div.w_panel{position:relative;overflow:hidden; border:solid 1px green; margin-bottom:10px; padding:0 10px 10px 10px;}
div.w_panel h3{padding:5px 5px 5px 10px; cursor:pointer; margin:0 -10px 10px -10px;  background-color:green; color:#FFF;}

/* --------------------------------- 
MESSAGE BOX
--------------------------------- */
div.w_box{
	position:relative; 		
	font-size: 12px;
	background-color: #FFFFDD;
	border: solid 1px #F0C020;
	padding: 10px 10px 10px 60px;	
	margin:10px 0 10px 0;
	min-height:25px;
	background-repeat: no-repeat;
	background-position: 10px 10px;	
}
div.message_sucess{
	background-color: #E2FEDA;
	border: solid 1px #00CC00 ;
	background-image: url('images/icons/icon-check.png');	
}
div.message_error{
	background-color: #FFEAEB;
	border: solid 1px #CC0000;
	background-image: url('images/icons/icon-error.png');	
}
div.message_information{
	background-color: #DEE3FE;
	border: solid 1px #4B66FA;
	background-image: url('images/icons/icon-info.png');	
}
div.message_warning{
	background-color: #FFFFDD;
	border: solid 1px #F0C020;
	background-image: url('images/icons/icon-warning.png');	
}	
	
