/* =========================================================================
   Defaults
   ========================================================================= */
/* =========================================================================
   Buttons
   ========================================================================= */
/* =========================================================================
   Text
   ========================================================================= */
/* =========================================================================
   Boxes
   ========================================================================= */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  min-width: 960px;
  overflow-x: hidden;
  font-size: 10px;
  font-family: "Open Sans",Arial;
  line-height: 1.2;
  margin: 0;
  background: #231f20;
 }


/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: 0; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address margins set differently in IE 6/7.
 */
p, pre {
  margin: 1em 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before, q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu, ol, ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html, button, input, select, textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio, canvas, img, video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }
 }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.icon, .taurus-logo, .search-form__submit, .copyright__dex {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  border: 0;
  background-color: transparent; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
.heading--alpha, .heading--beta, .heading--gamma, .heading--delta, .heading--epsilon, .heading--zeta {
  color: #bf0411;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase; }

.heading--alpha {
  font-size: 5em;
   }

.heading--beta {
  font-size: 4em; }

.heading--gamma {
  font-size: 3em; }

.heading--delta {
  font-size: 2.2em; }

.heading--epsilon {
  font-size: 1.6em; }

.heading--zeta {
  font-size: 1.2em; }

.heading--thin {
  font-weight: 300; }

.heading--half-lh {
  line-height: 0.5; }

.heading--double-lh {
  line-height: 2; }

.heading--4x-lh {
  line-height: 4; }

.heading--inverse {
  color:#231f20; }

.heading--no-margin {
  margin: 0; }

.heading--extra {
  font-family:"Open Sans";
  font-weight:800;
}

.heading--alpha span {
  font-weight:normal;
  font-style:italic;
  color:#999;
  font-family:"Open Sans";
  font-weight:300;
}

.heading--section {
  font-size:1.6em;
  font-style:italic;
  font-weight:normal;
  text-align:center;
  border:1px solid #dadada;
  border-width:1px 0;
  padding:15px 0;
  color:#666;
  text-transform:uppercase;
  margin-bottom:40px;
}
.heading--section strong {
  font-family:"Open Sans";
  font-weight:800;
}

.heading--distributors {
  font-size:1.8em;
  font-style:italic;
  font-family:"Open Sans";
  color: #bf0411;
  margin-top:0;
  font-weight:800;

}

h3.sub-title {
  font-size: 2.5em;
  margin: 1em 0;
  color: #231f20;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
}

p, .paragraph {
  font-size: 1.3em;
  line-height: 1.5;
  color: #666; }

.paragraph--inverse {
  color: #fff; }

.paragraph--half-margin {
  margin: 0.5em 0; }

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #bf0411; }
  a:hover {
    color: #92020c; }

.wrapper,
.wrapper-banner {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.main-header-full .wrapper{
    width: 100%!important;
}
.menutop {
    float: right;
    margin-top: 20px;
    margin-right: 240px;
}
.wrapper {

    margin-left: auto;
    margin-right: auto;
    width: 950px;
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper-banner {
  width: 644px;
}

.wrapper:before, .wrapper:after {
  content: " ";
  display: table;
}
.wrapper:after {
  clear: both;
}
  .wrapper .wrapper {
    padding-left: 0;
    padding-right: 0; }

.table {
  display: table; }

.table--full {
  width: 100%; }

.table--fixed {
  table-layout: fixed; }

.table__cell {
  display: table-cell; }

.table__cell--v-middle {
  vertical-align: middle; }

.table__cell--r-align {
  text-align: right; }

.main-header__top-area .table__cell.table__cell--v-middle.table__cell--r-align {
    width: 175px;
}

.bt {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  padding: 12px 12px;
  font-family: inherit;
  font-size: 1.3em;
  font-weight: 700; }
  .bt[disabled] {
    color: #666;
    background-color: #d8d9dd; }

.bt--primary {
  color: #fff;
  background-color: #bf0411;
  border: 1px solid #bf0411; }
  .bt--primary[disabled] {
    border-color: #d8dade; }

.bt--secondary {
  color: #bf0411;
  background-color: #e9e9e9;
  border: 1px solid #fff; }
  .bt--secondary:hover {
    color: #bf0411;
    background-color: #e6e7ea; }

.icon {
  display: inline-block;
  vertical-align: middle; }

.icon.social {
  background-image: url(../img/layout/social-media-sprite.png);
  margin: 0;
  height: 16px;
}
.icon.social.icon-rounded-facebook {
  background-position: -1px 0px;
  width: 10px;
}
.icon.social.icon-rounded-linkedin {
  background-position: -14px 0px;
  width: 12px;
}
.icon.social.icon-rounded-youtube {
  background-position: -30px 1px;
  width: 14px;
}

.icon-rounded-pin {
  background-image: url(../img/sprite.png);
  background-position: 0px -170px;
  width: 30px;
  height: 30px; }

.icon-rounded-email {
  background-image: url(../img/sprite.png);
  background-position: 0px -110px;
  width: 30px;
  height: 30px; }

.icon-rounded-phone {
  font-family: "FontAwesome";
  font-size: 30px;
  color: #bf0411;
  line-height: 30px;
  width: 25px;
  height: 25px;
}

.c-column .addr:first-of-type:before {
  content: "\f041";
  font-family: "FontAwesome";
  color: #bf0411;
  width: 19px;
  height: 34px;
  font-size: 32px;
  line-height: 32px;
  position: absolute;
  left: -38px;
}

  .icon-camera {
  background-image: url(../img/layout/bts-download.png);
  background-position: 0 0;
  width: 25px;
  height: 25px;
  margin-right:5px;
   }

  .icon-book {
  background-image: url(../img/layout/bts-download.png);
  background-position: 0 -26px;
  width: 25px;
  height: 25px;
  margin-right:5px;
}



input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], textarea, select, .custom-select__selected {
  padding: 8px 8px;
  font-family: inherit;
  font-size: 1.3em;
  border: 1px solid #fff;
  resize: none; }
  input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder, .custom-select__selected::-webkit-input-placeholder {
    color: #666;
    opacity: 1; }
  input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="search"]:-moz-placeholder, textarea:-moz-placeholder, select:-moz-placeholder, .custom-select__selected:-moz-placeholder {
    color: #666;
    opacity: 1; }
  input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="search"]::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder, .custom-select__selected::-moz-placeholder {
    color: #666;
    opacity: 1; }
  input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder, .custom-select__selected:-ms-input-placeholder {
    color: #666;
    opacity: 1; }
  input[type="text"].input-error, input[type="email"].input-error, input[type="password"].input-error, input[type="tel"].input-error, input[type="search"].input-error, textarea.input-error, select.input-error, .custom-select__selected.input-error {
    color: #ff0433;
    background-color: #d8d9dd; }
    input[type="text"].input-error::-webkit-input-placeholder, input[type="email"].input-error::-webkit-input-placeholder, input[type="password"].input-error::-webkit-input-placeholder, input[type="tel"].input-error::-webkit-input-placeholder, input[type="search"].input-error::-webkit-input-placeholder, textarea.input-error::-webkit-input-placeholder, select.input-error::-webkit-input-placeholder, .custom-select__selected.input-error::-webkit-input-placeholder {
      color: #ff0433; }
    input[type="text"].input-error:-moz-placeholder, input[type="email"].input-error:-moz-placeholder, input[type="password"].input-error:-moz-placeholder, input[type="tel"].input-error:-moz-placeholder, input[type="search"].input-error:-moz-placeholder, textarea.input-error:-moz-placeholder, select.input-error:-moz-placeholder, .custom-select__selected.input-error:-moz-placeholder {
      color: #ff0433; }
    input[type="text"].input-error::-moz-placeholder, input[type="email"].input-error::-moz-placeholder, input[type="password"].input-error::-moz-placeholder, input[type="tel"].input-error::-moz-placeholder, input[type="search"].input-error::-moz-placeholder, textarea.input-error::-moz-placeholder, select.input-error::-moz-placeholder, .custom-select__selected.input-error::-moz-placeholder {
      color: #ff0433; }
    input[type="text"].input-error:-ms-input-placeholder, input[type="email"].input-error:-ms-input-placeholder, input[type="password"].input-error:-ms-input-placeholder, input[type="tel"].input-error:-ms-input-placeholder, input[type="search"].input-error:-ms-input-placeholder, textarea.input-error:-ms-input-placeholder, select.input-error:-ms-input-placeholder, .custom-select__selected.input-error:-ms-input-placeholder {
      color: #ff0433; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="search"]:focus, textarea:focus, select:focus, .custom-select__selected:focus {
    box-shadow: 0 0 3px #bf0411; }

select.input-error + .custom-select__selected {
  color: #ff0433;
  background-color: #d8d9dd; }

select:focus + .custom-select__selected {
  box-shadow: 0 0 3px #bf0411; }

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom; }

.custom-select--real-select {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-appearance: menulist-button; }

.custom-select__selected {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666; }

.custom-select__selected--has-value {
  color: #222; }

.custom-select__selected:after {
  background-image: url(../img/sprite.png);
  background-position: 0px -4px;
  width: 5px;
  height: 3px;
  position: absolute;
  right: 10px;
  top: 50%;
  display: inline-block;
  content: ""; }

.page-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;

  background:#ffffff;
}
.distrib{
    background:#E9E9E9;
}
/*.page-wrapper.main-content  > .wrapper:before {
  position:absolute;
  display:block;
  content: "";
  background:#e9e9e9 url(../img/bg-sliced.png) no-repeat;
  width:220px;
  height:240px;
  top:0px;
  left:-221px;
}*/
.page-wrapper.main-content  > .wrapper + .wrapper:before{background:none;}

.repaging {
  background-image: none;
  background-color: #f6f6f7;
}

.dotted-bg {
  position: relative;
  padding: 60px 0 30px;
  /*background: url(../img/bg-dotted.png) top left repeat;
  */
}

.dotted-bg + .main-footer {
  border-top: 0; }
/*
.taurus-logo {
  background-image: url(../img/layout/logo-taurus-armas.png);
  width: 280px;
  height: 88px;
  margin-left: -58px; }
*/

.taurus-logo {
  background-image: url(../img/layout/logo-taurus-armas.png);
    background-position: left top;
  width: 646px;
  height: 101px;
  left: -80px;
  top: 0px;
  position: absolute !important;
  z-index: 3;
}

.taurus-logo--en {
  background-image: url(../img/sprite.png);
  background-position: 0px -310px;
  width: 375px;
  height: 120px; }

h1.js-taurus-logo.taurus-logo.main-header__logo.taurus-logo--pt:before {
  content: "";
  height: 88px;
  width: 232px;
  background-color: #fff;
  display: block;
  position: absolute;
    float: left;

}

.main-header-full {
  background:#231F20;
  width: 1400px;
  margin: 0 auto;
}

.main-header__logo, .main-header__nav-area {
  display: inline-block;
  vertical-align: middle; }

.main-header__bg {
  position: absolute;
  top: 0;
  left: 9px; }

.main-header__top-area {
  position: relative;
  height: 87px;
}

.top-bar {
  background:#02324b url(../img/layout/bg-top-bar.png) top center no-repeat;
  height:40px;
  position:relative;
  z-index:99;
  padding-left:30px;
  font-size:11px;
  color:#fff;
}
.top-bar-item {
  float:left;
  line-height:3.4;
}
.top-bar-item a {
  color:#fff;
}
.top-bar-item a:hover {
  color:#3a799a;
}

.top-bar-item a.item-active {
  color:#3a799a;
  background:url(../img/layout/carret-top-bar.png) center bottom no-repeat;
}

.top-bar-item span {
  color:#4080a2;
}
.top-bar-item a, .top-bar-item span {padding-top:16px; padding-bottom:14px;}

.top-bar-item--a {
  width:150px;
  margin-right:20px;
  background:url(../img/layout/logo-taurus-institutional.png) 7px 5px no-repeat;
  padding-left:56px;
}
.top-bar-item--b {
  width:285px;
  margin-right:10px;
  padding-left:10px;

}
  .top-bar-item--b a,   .top-bar-item--b span {
    padding-right:20px;
  }
  .top-bar-item--b a:last-child {
    padding-right:0;
  }
.top-bar-item--c {
  width:110px;
  margin-right:23px;
  padding-left:10px;
}
.top-bar-item--d {
  width:130px;
  margin-right:30px;
  padding-left:10px;
}
.top-bar-item--e {
  width:120px;
  margin-right:15px;
  padding-left:10px;
}
.top-bar-item--f {
  width:35px;
  padding-left:10px;
}


.search-form {
  position: relative;
  display: inline-block;
}

.contact-nav__area.social {
  position: relative;
}
.contact-nav__area.social:after {
  content: "";
  width: 1px;
  height: 29px;
  border-left: 1px solid #555;
  display: block;
  position: absolute;
  right: -13px;
  top: 12px;
}
.search-form__input[type="search"] {
  width: 0;
  padding: 0;
  border: none;
  margin-right: 10px;
  vertical-align: middle;
}
/*.search-form__input[type="search"] {
  width: 296px;
  padding-right: 30px;
}*/

.search-form__submit {
  background-image: url(../img/sprite.png);
  background-position: -48px -175px;
  width: 19px;
  height: 22px;
  right: 10px;
  vertical-align: middle;
}


.language-nav {
  top: 35px;
  position: absolute;
  left:560px;
  z-index: 1;
}

.language-nav .select-language {
  width: 55px;
  overflow: hidden;
  max-height: 29px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.language-nav .select-language:hover {
  max-height: 80px;
}

.language-nav__item {
  display: block;
  height: 30px;
  line-height: 25px;
  border-bottom: 1px solid #555555;
  background-color: #231F20;
  padding-left: 4px;
}

.language-nav__item .lang {
  font-size: 1.2em;
  color: #C9C8C8;
  vertical-align: middle;
  display: inline-block;
}

.language-nav__item:last-of-type {
  border-bottom: 0;
}

.language-nav__item:hover .lang {
  color: #fff;
}

.flag-en,
.flag-es {
  height: 12px;
  width: 16px;
  background: url('../img/layout/flag-uk.png');
  vertical-align: middle;
  display: inline-block;
}

.flag-es {
  background: url('../img/layout/flag-spa.png');
}

.language-nav__item .fa-angle-down {
  font-size: 16px;
  font-family: "FontAwesome";
  color: #C9C8C8;
  vertical-align: middle;
}

.main-nav {
  display: inline-block; }

.main-nav__nav-wrapper {
  /*position: absolute;
  top: 120px;
  left: 0;
  z-index: 3;
  display: none;
  width: 100%;
  text-align: left; */

  position: absolute;
  top: 120px;
  left: 36px;
  z-index: 3;
  display: none;
  width: 92%;
  text-align: left;
  }

.main-nav__nav-wrapper__title {
  position: absolute;
  top: -85.71429px;
  right: 165px;
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  text-transform: uppercase; }

.main-nav__trigger {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  padding: 14px 8px;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px; }
  .main-nav__trigger rect {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: rotateZ(0) translateX(0) translateY(0);
    -moz-transform: rotateZ(0) translateX(0) translateY(0);
    -ms-transform: rotateZ(0) translateX(0) translateY(0);
    -o-transform: rotateZ(0) translateX(0) translateY(0);
    transform: rotateZ(0) translateX(0) translateY(0); }
  .main-nav__trigger:hover {
    /*background-color: #bf0411;*/
  }

.main-nav__trigger--active {
  position: relative;
  z-index: 3; }
  .main-nav__trigger--active rect:nth-of-type(2) {
    opacity: 0; }
  .main-nav__trigger--active rect:first-child {
    -webkit-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
    -moz-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
    -ms-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
    -o-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
    transform: rotateZ(45deg) translateX(2px) translateY(-3px); }
  .main-nav__trigger--active rect:last-child {
    -webkit-transform: rotateZ(-45deg) translateY(-2px) translateX(-6px);
    -moz-transform: rotateZ(-45deg) translateY(-2px) translateX(-6px);
    -ms-transform: rotateZ(-45deg) translateY(-2px) translateX(-6px);
    -o-transform: rotateZ(-45deg) translateY(-2px) translateX(-6px);
    transform: rotateZ(-45deg) translateY(-2px) translateX(-6px); }

.main-nav__trigger__icon {
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle; }

.main-nav__item {
  position: relative;
  display: block;
  padding: 15px 20px;
  border: 1px solid #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  cursor: pointer; }
  .main-nav__item:last-child {
    border-bottom-width: 1px; }

.main-nav__item__arrow {
  position: absolute;
  top: 17px;
  right: 20px;
  cursor: pointer; }
  .main-nav__item__arrow polyline {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px; }

.main-nav__item__title {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.8em;
  color: #fff; }
  .main-nav__item__title:hover {
    color: #bf0411; }

.main-nav__item__title--active {
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase; }

  .main-nav__item__subtitle {
    margin-top: 15px;
    margin-left: -30px;
  }

  .main-nav__item__subtitle a {
    color: #fff;
    margin-left: 10px;
  }

.main-nav__item__subnav {
  display: none;
  padding-left: 30px; }

.main-nav__item__subnav__item {
  display: block;
  padding: 15px 0;
  font-size: 1.4em;
  color: #fff; }
  .main-nav__item__subnav__item:first-of-type {
    margin-top: 15px; }
  .main-nav__item__subnav__item:before {
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
    content: "\203A"; }
  .main-nav__item__subnav__item:hover {
    color: #bf0411; }

  .main-nav__item__subnav__item__indent {
    padding-left: 70px;
  }

  .main-nav__item__subnav__item__indent:first-of-type {
    margin-top: 0px;
  }

.main-nav__item--is-selected {
  color: #bf0411; }

.sliced-bg {
  position: absolute;
  left: -220px; }

.sliced-content {
  position: relative;
  padding-bottom: 100px; }

.a-b-columns {
  *zoom: 1;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .a-b-columns:before, .a-b-columns:after {
    content: " ";
    display: table; }
  .a-b-columns:after {
    clear: both; }

.a-b-columns__column {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%; }
  .a-b-columns__column:nth-of-type(2n) {
    margin-right: 0; }

.a-b-columns--full {
  max-width: 100%; }
  .a-b-columns--full .a-b-columns__column {
    width: 50%;
    margin-right: 0; }
    .a-b-columns--full .a-b-columns__column:first-of-type {
      padding-right: 10px; }
    .a-b-columns--full .a-b-columns__column:last-of-type {
      padding-left: 10px; }

.c-column {
  width:700px;
  margin-right:20px;
  float:left;
}

.d-column {
  width:220px;
  float:left;
}

.footer-nav {
  margin-top: 40px;
  text-align: center; }

.footer-nav__wrapper {
  padding-top: 40px;
  border-top: 1px solid #e5e5e5; }

.footer-nav__wrapper--hidden {
  display: none; }

.footer-nav__group {
  padding-right: 40px;
  text-align: left; }
  .footer-nav__group:last-of-type {
    padding-right: 0; }
  .footer-nav__group a {
    display: block;
    margin: 7px 0;
    font-size: 1.2em; }
    .footer-nav__group a:before {
      margin-right: 5px;
      content: "\203a"; }

.footer-nav__items {
  padding-left: 10px; }

.footer-nav__push-title {
  margin-top: 40px; }

.footer-nav__toggle {
  position: relative;
  top: 21px;
  z-index: 1; }
  .footer-nav__toggle:before {
    background-image: url(../img/sprite.png);
    background-position: 0px -7px;
    width: 5px;
    height: 5px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    content: ""; }

.footer-nav__toggle--active:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -1px;
  width: 5px;
  height: 3px; }

.default-form {
  position: relative; }

.default-form__submit-area {
  clear: both;
  padding-top: 10px;
  text-align: right; }


.default-form__message {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  font-size: 1.3em;
  text-align: center;
  color: #666;
  background-color: #e9e9e9; }
  .default-form__message .table {
    width: 100%;
    height: 100%; }

.js-form-reset-fields {
  cursor: pointer;
}

.newsletter-form__label {
  display: block;
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px; }
  .newsletter-form__label:last-child {
    margin-right: 0; }
  .newsletter-form__label input {
    width: 100%; }
  .newsletter-form__label:nth-of-type(2n) {
    margin-right: 0; }

.newsletter-form__legend {
  margin-bottom: 10px; }

.contact-nav--top-spaced {
  padding-top: 10px; }

.contact-nav__area, .download-nav__area {
  padding: 5px 0;
  font-size: 1.3em;
  margin-right:30px;

}
.contact-nav__area {
  float:left;
}

.contact-nav__area.social {
    float: none;
    margin: 0;
    vertical-align: middle;
    display: table-cell;
    width: 88px;
}

  .contact-nav__area .icon {
    margin-right: 15px; }

.contact-nav__area--glued {
  margin-right: 11px; }
  .contact-nav__area--glued .icon {
    margin-right: 5px; }

.contact-nav__highlight {
  color: #1a181d;
  font-weight:bold; }

.copyright {
  padding: 20px 0;
  color: #999;
  font-size: 1.1em;
  border-top: 0px solid #e5e5e5;
    width: 850px;
}
.copyright .table__cell {
  border-top:0px solid #ccc;
  padding-top:20px;
}

.copyright__dex {
  background-image: url(../img/sprite.png);
  background-position: 0px -27px;
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle; }

.content-box {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%;
  padding: 20px 20px;
  text-align: center;
  background-color: #d8dade; }
  .content-box:last-child {
    margin-right: 0; }

.content-box--large {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%; }
  .content-box--large:last-child {
    margin-right: 0; }

.content-box--half-content {
  padding-top: 30px; }
  .content-box--half-content .bt {
    margin-top: 7px; }

.content-box--inverse {
  position: relative;
  background-color: #003e60; }
  .content-box--inverse:before {
    background-image: url(../img/sprite.png);
    background-position: 0px -200px;
    width: 103px;
    height: 110px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -55px;
    content: ""; }
  .content-box--inverse p {
    line-height: 1.2; }
  .content-box--inverse .content-box__content {
    padding-top: 5px; }

.content-box__content {
  position: relative; }

.content-box__paragraph {
  display: block;
  padding-bottom: 5px;
  font-size: 1.6em;
  font-weight: 300;
  font-style: italic;
  color: #bf0411;
  line-height: 1.1; }

.main-footer {
  padding-top: 30px;
  border-top: 1px solid #d8dade; }

.main-footer h4 {
  color:#666;
  font-weight:normal;
}

.breadcrumb {
  padding-top: 40px;
  margin-bottom: -10px;
  text-align:left;
   }
  .breadcrumb a {
    color: #999;
    font-size: 1.1em; }
    .breadcrumb a:after {
      display: inline-block;
      padding: 0 5px;
      vertical-align: top;
      content: "\203A"; }
  .breadcrumb a:last-of-type {
    color: #666; }
    .breadcrumb a:last-of-type:after {
      content: none; }

.default-content h2 {
  margin-bottom: 0.5em; }
.default-content h3 {
  margin-top: 3em;
  margin-bottom: 1.5em;
  font-size: 1.6em;
  font-style: italic;
  font-weight: 300;
  color: #bf0411;
  text-transform: uppercase; }
  .default-content h3:first-of-type {
    margin-top: 0; }
.default-content .default-content__heading-extra-bold {
  font-weight: bold; }
.default-content p:first-of-type {
  margin-top: 0; }


.product-content {
  color:#5b5a5d;
}
.product-content h2{
  font-style:normal;
  font-weight:bold;
 }
.product-content h3 {
  font-style:normal;
  font-weight:lighter;
}

.product-content h2 {
  margin:2em 0 0 0;
}

.product-content .a-b-columns__column:first-child h3 {
  margin:0;
}

.product-content .a-b-columns__column:first-child {
  text-align:right;
}
.product-box-detail ul, .product-box-detail h3,
.product-box-detail .download-nav,
.product-box-detail .product-spec  {
  padding-left:22px;
}

.product-box-detail .download-nav {
  margin-top:20px;
}

.product-list-detail {
  list-style:none;
  font-size:13px;
  line-height:1.5;
  padding:0;
  margin-bottom:0;
}
.product-list-detail span {
  font-style:italic;
}

.product-box-detail, .product-box-video {
  padding-bottom:60px;
}

.product-box-video p {
  text-align:center;
}
.product-box-video a {
  text-decoration:underline;
  font-style:italic;
}

.custom-file-input .input-error + .bt {
  color: #ff0433;
  background-color: #d8d9dd; }

.custom-file-input__info {
  display: inline-block;
  padding: 11px 0;
  font-size: 1.3em;
  color: #666; }

.curriculum-form label {
  margin-top: 10px;
  margin-bottom: 10px; }

.curriculum-form__fieldset label {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 31.91489%; }
  .curriculum-form__fieldset label:last-child {
    margin-right: 0; }
  .curriculum-form__fieldset label:nth-of-type(3n) {
    margin-right: 0; }
.curriculum-form__fieldset input, .curriculum-form__fieldset .bt {
  width: 100%; }
.curriculum-form__fieldset .bt {
  text-align: center; }
.curriculum-form__fieldset .custom-file-input .bt {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 31.91489%; }
  .curriculum-form__fieldset .custom-file-input .bt:last-child {
    margin-right: 0; }
.curriculum-form__fieldset .custom-file-input .custom-file-input__info {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 65.95745%; }
  .curriculum-form__fieldset .custom-file-input .custom-file-input__info:last-child {
    margin-right: 0; }

.curriculum-form__fieldset--has-file label {
  width: 100%; }

.curriculum-form__submit-area {
  margin-top: 40px;
  padding-top: 40px;
  text-align: right;
  border-top: 1px solid #d8dade; }
  .curriculum-form__submit-area .bt {
    padding-left: 40px;
    padding-right: 40px; }

.contact-form {
  padding-bottom:200px;
}

.contact-form__fieldset input, .contact-form__fieldset textarea {
  width: 100%; }
.contact-form__fieldset label {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 31.91489%;
  margin-top: 10px;
  margin-bottom: 10px; }
  .contact-form__fieldset label:last-child {
    margin-right: 0; }
  .contact-form__fieldset label:nth-of-type(3n) {
    margin-right: 0; }
.contact-form__fieldset .bt {
  margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px; }

.contact-form__fieldset--full label {
  width: 100%; }

.contact-form__submit-area {
  text-align: right; }

.download-form__fieldset label {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 31.91489%;
  margin-bottom: 24px; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.97; }

.overlay--dotted {
  background:transparent url(../img/layout/bg-menu.png) top left repeat; }

.overlay--cover-page {

  width: 100%;
   }

.spinner {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  margin: -20px 0 0 -20px; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0); }

  50% {
    -webkit-transform: scale(1); } }

@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

.picture-slider {
  position: relative;
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
-webkit-box-shadow: -5px 9px 25px -11px rgba(34,34,34,1);
-moz-box-shadow: -5px 9px 25px -11px rgba(34,34,34,1);
box-shadow: -5px 9px 25px -11px rgba(34,34,34,1);
}
  .picture-slider figure {
    display: inline;
    vertical-align: top; }

.picture-slider__pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center; }

.picture-slider__pagination__item {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border: 1px solid #bf0411;
  cursor: pointer; }
  .picture-slider__pagination__item:hover {
    background-color: #12b9ff; }

.picture-slider__pagination__item--active {
  background-color: #bf0411; }

.product-box-gallery {
  position:relative;
}
.product-box-gallery a.zoom{
  display:block;
}
.product-box-gallery a.zoom:after{
  position:absolute;
  content:"";
  background: url("../img/sprite.png") no-repeat -36px 0;
  width:40px;
  height:40px;
  bottom:100px;
  left:50%;
  margin-left:-20px;
  opacity: 0;
    transition: opacity 0.3s;
}
.product-box-gallery a.zoom:hover:after{
opacity: 1;
}
.fancybox-close{
  background: url("../img/sprite.png") no-repeat -36px -41px;
  width:41px;
  height:44px;
}
.fancybox-next span{
  background: url("../img/sprite.png") no-repeat -36px -84px;
  width:41px;
  height:44px;
}
.fancybox-prev span{
  background: url("../img/sprite.png") no-repeat -36px -127px;
  width:41px;
  height:44px;
}


.address {
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
}
.addresses__address {
  display: table-cell;
  width: 20%;
  vertical-align: top; }


.inner-address {
  width: 840px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.addresses__address__title {
  padding-bottom: 10px;
  font-size: 1.3em; }

.addresses__address__content {
  font-size: 1.1em;
  color: #666;
  line-height: 1.3; }
  .addresses__address__content strong {
    display: block;
    text-transform: uppercase;
    color: #bf0411;
    font-style: italic;
    font-weight: normal; }
  .addresses__address__content a {
    text-decoration: underline; }
    .addresses__address__content a[href^="mailto:"] {
      color: inherit;
      text-decoration: none; }

/*.list-box {
  display: inline-block;
  float: left;
  margin-right: 12px;
  width: 300px;
  display: inline-block;
  padding-bottom: 40px;
  vertical-align: top;
  font-size: 10px; }*/
  /*.list-box:last-child {
    margin-right: 0; }
  .list-box:nth-of-type(3n) {
    margin-right: 0; }
  .list-box:nth-of-type(3n+1) {
    clear:both; }*/

.list-box {
  display: inline-block;
  font-size: 10px;
  margin-bottom: 20px;
  margin-right: 25px;
  padding-bottom: 40px;
  vertical-align: top;
  width: calc(91%/3);
}

.download-page .mix {
  display: none;
}

.download-box-wrapper {
  font-size: 0; }

  .download-box h3 {
   font-size:1.6em;
  text-transform:uppercase;
  font-weight:normal;
  color:#bf0411;
  margin-bottom:10px;
  margin-top:0;
  min-height: 20px;}


  .download-box .bt {
    margin-top: 15px;
    padding-left: 40px;
    padding-right: 40px; }
.download-box__time, .download-box__category {
  color: #999; }
.download-box__time {
  display: block;
  margin-top:17px;
  margin-bottom: 4px;
  font-size: 1.1em; }
.download-box__category {
  font-size: 1.1em;
  margin:0;
}

.category-box {
    display: inline-block;
    font-size: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding-bottom: 40px;
    vertical-align: top;
    width: 300px;
}

.category-box__figure img {
    width: 300px;
}

.subcategory-box {
    display: inline-block;
    font-size: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding-bottom: 40px;
    vertical-align: top;
    width: 300px;
}

.category-box__header {
  position:relative; }
.category-box__title {
  font-size:1.8em;
  color:#fff;
  position:absolute;
  bottom:0; width:100%;
  background:#231f20;
  margin:0;
  font-family:"Open Sans";
  font-weight:800;
  font-style:italic;
   padding:5px 7px;
 }
.category-box__title a {
  background:url(../img/layout/ico-arrow.png) center right no-repeat;
  display:block;
  color:#fff;
}
.category-box__title a:hover {
  color:#bf0411;
}

.box-distributors {
  background: none repeat scroll 0 0 #fff;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 26px;
  padding: 20px;
  vertical-align: top;
  width: 45.5%;
}
.distributors-area {
  margin-bottom:20px;
}
.distributors-area p {
 margin:0;
}
.distributors-nav {
  margin-bottom:40px;
}
.distributors-map {
  text-align:center;
  margin-bottom:40px;
}
.distributors-nav:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;}

.distributors-nav a {
  float:left;
  background:#fff;
  padding:10px 5px 14px;
  width:130px;
  border-right:1px solid #e9e9e9;
  font-size:1.3em;
  text-align:center;
  background:#fff url(../img/layout/bg-distributors.png) bottom center no-repeat;
}

.distributors-nav a.active {
  background: url("../img/layout/bg-distributors-caret.png") no-repeat scroll center bottom #231f20;
    color: #fff;
}

.distributors-nav a.item-active {
  background:#231f20 url(../img/layout/bg-distributors-caret.png) bottom center no-repeat;
  color:#fff;
}

.distributors-page .mix {
  display: none;
}


.filter__form {
  display: table;
  margin: 40px 0;
  width: 100%; }
  .filter__form label {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%; }
    .filter__form label:last-child {
      margin-right: 0; }

.filter__title {
  display: block;
  padding: 20px 0;
  margin-bottom: 40px;
  font-weight: normal;
  text-align: center;
  border-top: 1px solid #d8dade;
  border-bottom: 1px solid #d8dade; }

.load-more__button-container {
  clear: both;
  padding-top: 40px;
  text-align: center;
  border-top: 1px solid #d8dade; }

.featured-video {
  background-color: #fff;
  overflow: hidden; }

.featured-video__content__title {
  margin-top: 0;
  font-weight: 400;
  letter-spacing: -0.5px; }

.featured-video__video, .featured-video__content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%; }
  .featured-video__video:last-child, .featured-video__content:last-child {
    margin-right: 0; }

.featured-video__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px; }

.video-list {
  font-size: 0; }

.video-list__item {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%;
  display: inline-block;
  float: none;
  margin-bottom: 20px;
  font-size: 10px;
  vertical-align: top; }
  .video-list__item:last-child {
    margin-right: 0; }
  .video-list__item:nth-of-type(4n) {
    margin-right: 0; }
  .video-list__item img {
    max-width: 100%; }

.video-list__item__figure {
  margin-bottom: 10px;
  border: 15px solid #d8dade; }

.video-list__item__content {
  margin-top: 3px;
  color: #bf0411; }

.video-list__item__time {
  font-size: 1.1em; }

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  text-align: center; }

.modal {
  max-width: 940px;
  height: 100%;
  margin: 0 auto; }
  .modal .table {
    height: 100%; }

.modal__close {
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  float: right;
  color: #fff;
  font-size: 3em;
  text-align: center;
  background-color: #bf0411;
  cursor: pointer; }
  .modal__close:hover {
    background-color: #0078ab; }

.banner-full {
  height:300px;
  position:relative;
  background-color: #231f20; }

.banner-item {
  position:relative;
  /*display: none;*/
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.banner-item-active {
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  /*display: block;*/
  opacity: 1;
  height: 100%;
}

.banner-item-a {
  background:url(../img/content/destaque-pistola.jpg) top center no-repeat;
}
.banner-item-b {
  background:url(../img/content/destaque-marcacao.jpg) top center no-repeat;
}
.banner-item-c {
  background:url(../img/content/destaque-marcacao.jpg) top center no-repeat;
}
.banner-item-d {
  background:url(../img/content/destaque-marcacao.jpg) top center no-repeat;
}
.banner-item-e {
  background:url(../img/content/destaque-marcacao.jpg) top center no-repeat;
}
.banner-item-f {
  background:url(../img/content/destaque-marcacao.jpg) top center no-repeat;
}

.content-banner-box article {
  width: 340px;
  position: absolute;
  right: 0;
  bottom: 65px;
  background-color: #231f20;
  padding: 2px 20px;
  box-sizing: border-box;
}
.content-banner-box p{color:#fff;}
.banner-nav {
  background: transparent;
  opacity:0.95;
  position:absolute;
  bottom:0;
  width:100%;

}
.banner-wrapper {
  /*display: table;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;*/
  display: table;
  margin-right: auto;
  margin-left: auto;
  width: 850px;
}
.banner-nav ul {
  /*list-style:none;
  margin:0;
  padding:0;
  height: 50px;
  background-image: url(../img/menu-bg.png);
  background-position: 0 3px;
  background-repeat: no-repeat;*/
  list-style: none;
  float: left;
  padding: 0;
  height: 35px;
  background-position: 0 3px;
  background-repeat: no-repeat;
  margin-bottom: 7px;
}

.banner-nav li {
  /*width:156px;*/
 /* width: 140px;
  float:left;
  color:#fff;
  text-align:center;
  font-size:13px;
  padding:0;
  position:relative;
  height:50px;*/


  float: left;
  color: #fff;
  text-align: left;
  font-size: 13px;
  padding: 0;
  position: relative;
  height: 35px;
  padding: 0 25px;
  border-left: 2px solid rgba(255, 255, 255, .6);
  -ms-transform: skew(-25deg);
  -webkit-transform: skew(-25deg);
  -o-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
  transform: skew(-25deg);
  line-height: 35px;
}


.banner-nav a {
 color: #fff;
  display: block;
  -ms-transform: skew(25deg);
  -webkit-transform: skew(25deg);
  -o-transform: skew(25deg);
  -moz-transform: skew(25deg);
  transform: skew(25deg);

}

.banner-nav .banner-nav-item span {
    text-transform: uppercase;
    color: #ff0104;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}

.banner-nav .banner-nav-item.active span {
  -webkit-transition: background-size 0.2s;
  -moz-transition: background-size 0.2s;
  transition: background-size 0.2s;
  background-size: 156px 70px;
  opacity: 0.8;
  color: #fff;
}

.banner-nav .banner-nav-item-b  {
  background-position:-160px 0;
}
.banner-nav .banner-nav-item-c  {
  background-position:-320px 0;
}
.banner-nav .banner-nav-item-d  {
  background-position:-480px 0;
}
.banner-nav .banner-nav-item-e  {
  background-position:-640px 0;
}
.banner-nav .banner-nav-item-f  {
  background-position:-800px 0;
}

.banner-nav .banner-nav-item span {
  background-size: 156px 0;
  /*width: 80%;*/
  display: inline-block;
}
/*
.banner-nav .banner-nav-item.active span {
  -webkit-transition: background-size 0.2s;
  -moz-transition: background-size 0.2s;
  transition: background-size 0.2s;
  background-size: 156px 70px;
  opacity:0.8;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  height:70px;
  padding: 37px 0 0;
}*/

.content-banner {
  text-align: right; }
  .content-banner .bt {
    margin-top: 10px;}

.content-banner__title {
  margin-top: 100px;
  margin-bottom:10px;
  }

.content-banner__cat {
  margin:0 0 15px 0;
}

.content-banner__cat span {
  background:#fff;
  opacity:0.5;
  color:#000;
  padding:3px 5px;
  font-size:11px;
}

.banner-inner, .guns-news--wrapper {
  width: 850px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.banner-caption {
  font-size: 45px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  margin-bottom: 0;
}

.content-banner-box article h2 {
  margin-top: 0;
  font-size: 30px;
}

.content-banner-box article:after {
  content: "\f105";
  position: absolute;
  right: 10px;
  top: 18px;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: #e30000;
  font-family: "FontAwesome";
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
}

.content-banner-box article p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 13px;
}

.banner-caption--abstract {
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  margin-top: 0;
}

.arrow-navigation svg {
  display: inline-block;
  margin-right: 30px; }
  .arrow-navigation svg:last-of-type {
    margin-right: 0; }
.arrow-navigation polyline {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: transparent;
  stroke-linecap: square;
  stroke: #bf0411;
  stroke-width: 8;
  cursor: pointer; }
  .arrow-navigation polyline:hover {
    stroke: #231f20; }

.arrow-navigation--top-left {
  position: absolute;
  left: 0;
  top: 20px; }

.arrow-navigation--bottom-right {
  position: absolute;
  right: 0;
  bottom: 20px; }
.arrow-navigation--bottom-left {
  position: absolute;
  left: 10px;
  bottom: 0;
  background:#fff;
  padding:15px 20px;
   }

.award-header {
  text-align:center;
}

.award-header p {
  margin:0 0 20px 0;
  font-size:18px;
  font-style:italic;
}

.award-showcase {
  width:700px;
  margin:0 auto;
}

.award-box {
  width:218px;
  float:left;
  margin-right:20px;
  text-align:center;
}
.award-box:last-child {
  margin-right:0;
}

.award-box img {
  border:1px solid #e9e9e9;
}

.product-showcase {
  font-size: 0;
  margin: auto;

}
  .product-showcase .product-box {
    font-size: 10px; }

.product-box {
  display: block;
  float: left;
  margin-right: 15px;
  width: 270px;
  position: relative;
  display: inline-block;
  float: none;
  vertical-align: top;
  }
  .product-box:last-child {
    margin-right: 0; }
  .product-box img {
    max-width: 100%; }
  .product-box:hover p {
    color: #a70814; }
  .product-box:hover .product-box__figure:before, .product-box:hover .product-box__figure:after {
    opacity: 1; }
  .product-box:hover .product-box__figure:after {
    top: 50%; }
  .product-box:hover .product-box__figure:before {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.9; }
  .product-box p {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .product-box .product-box__figure {
    position: relative; }
    .product-box .product-box__figure:before, .product-box .product-box__figure:after {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      content: ""; }
    .product-box .product-box__figure:after {
      background-image: url(../img/sprite.png);
      background-position: 0px -80px;
      width: 30px;
      height: 30px;
      left: 50%;
      top: 50%;
      margin-left: -15px;
      margin-top: -15px; }

/*.product-box__title {
  font-weight: 300;
  font-size: 1.8em;
  font-style: italic;
  color: #a70814;
  text-transform: uppercase; }*/


.product-box:nth-of-type(3n) {
  margin-right:0;
}


.list-showcase {
  padding-bottom: 160px;
  float:left;
}

.product-box__header {
  }

.product-showcase {
  width: 850px;
   }

.product-box__figure_sub {
  height: 140px;
  text-align: center;
  background-color: #FFF;
}

.product-box__figure_sub img {
  height: 140px;
}

.brand-section {
  position: relative;
  padding-bottom: 40px; }

.brand-section__header {
  /*padding:40px 0;*/
  padding: 28px 10px;
  float:left;
   }
.brand-section__header h2 {
  width:460px;
  margin-right:20px;
  float:left;
}

.brand-section__text {
  width:460px;
  float:left;
  margin:0;
}

.business {
  position: relative;
  margin-top: 38px;
  margin-bottom: 68px;
  font-size: 0; }
  .business .business-box {
    margin-top: -18px; }
  .business .arrow-navigation {
    bottom: -48px; }

.business-wrapper {
  height: 380px;
  overflow: hidden;
  padding-bottom: 30px; }

.business-box {
  display: inline-block;
  width: 180px;
  margin-right: 10px;
  overflow: hidden;
  font-size: 10px;
  cursor: pointer; }
  .business-box:last-of-type {
    margin-right: 0; }

.business-box__main-image {
  position: absolute;
  top: -18px;
  left: -111px;
  z-index: 1;
  display: none; }

.business-box__figure {
  position: relative;
  left: -95px; }
  .business-box__figure img {
    position: relative;
    left: -16px; }
  .business-box__figure:before {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    left: 95px;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    content: ""; }
  .business-box__figure:hover:before {
    opacity: 1; }
  .business-box__figure:hover .business-box__figcaption {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9); }
  .business-box__figure:hover .business-box__figcaption__arrow:after {
    background-image: url(../img/sprite.png);
    background-position: 0px -80px;
    width: 30px;
    height: 30px; }

.business-box__figcaption {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 95px;
  padding: 10px;
  width: 100%;
  height: 60px;
  color: #fff;
  font-weight: 300;
  font-size: 2em;
  font-style: italic;
  line-height: 1;
  background-color: #bf0411;
  background-color: rgba(0, 156, 222, 0.9); }

.business-box__figcaption__arrow {
  display: table-cell;
  vertical-align: middle;
  text-align: right; }
  .business-box__figcaption__arrow:after {
    background-image: url(../img/sprite.png);
    background-position: 0px -50px;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    content: ""; }

.business-box__content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 57.44681%;
  margin-left: 42.55319%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: none;
  padding-right: 20px;
  height: 100%;
  /*&:before {
        position: absolute;
        left: -239px;
        top: 50%;

        margin-top: -10px;
        border: 10px solid transparent;
        border-right-color: #fff;

        content: "";
    }*/ }
  .business-box__content:last-child {
    margin-right: 0; }
  .business-box__content .table {
    height: 100%; }
  .business-box__content .business-box__content__title {
    font-size: 3em;
    font-weight: bold; }

.business-box__content__tag {
  display: block;
  float: left;
  margin-right: 3.7037%;
  width: 25.92593%;
  padding: 12px;
  color: #fff;
  text-align: center;
  font-size: 1.3em;
  background-color: #bf0411; }
  .business-box__content__tag:last-child {
    margin-right: 0; }
  .business-box__content__tag:hover {
    color: #fff;
    background-color: #005478; }

.business-box__overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.9; }

.business-box__close {
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  color: #bf0411;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  border: 1px solid #bf0411;
  cursor: pointer; }

.media-box-list {
  font-size: 0; }

.media-box {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%;
  margin-bottom: 40px;
  font-size: 10px; }
  .media-box:last-child {
    margin-right: 0; }
  .media-box img {
    max-width: 100%; }

.media-box__padded-text {
  padding-left: 20px; }

.media-box--half-width {
  width: 50%; }

.media-box__highlight {
  color: #bf0411;
  text-decoration: underline; }

.media-box__heading {
  display: block;
  margin-bottom: 20px;
  color: #bf0411; }

.search-page__paragraph {
  margin-bottom: 40px; }

.search-page__paragraph__highlight {
  color: #bf0411;
  font-style: italic; }

@media only screen and (max-width: 1400px) {
  .main-content {
  background: #e9e9e9 !important;
  } }


.modal-pl {
  position: fixed;
  padding-top: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: 3;
  background-color: #000;
  background-color: rgba(0,0,0,.75);
}

.modal-pl--inner {
  position: relative;
  width: 768px;
  height: 480px;
  background-color: #fff;
  margin: 0 auto;
  font-size: 1.5em;
  z-index: 5;
}

.modal-pl--inner > span {
  position: absolute;
  height: 21px;
  width: 21px;
  padding: 15px 15px;
  color: #fff;
  top: 0;
  right: 0;
  background: #bf0411 url("../img/layout/exit.png") no-repeat center;
  background-size: 13px 13px;
  cursor: pointer;
}

.modal-pl--inner h1 {
  font-size: 2.5em;
  margin-bottom: 0;
  letter-spacing: -1px;
}

.modal-pl--inner p {
  font-size: 1.6em;
  line-height: 1.25em;
  margin-top: 20px;
}

.modal-pl--inner p,
.modal-pl--inner h1 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  color: #000;
}

.modal-pl--inner p span {
  color: #bf0411;
}

.modal-pl--inner img {
  position: absolute;
  max-width: 100%;
}

.modal-pl--inner .sign-now {
  position: absolute;
  display: block;
  width: 180px;
  height: 40px;
  bottom: 40px;
  left: 45px;
  padding-top: 7px;
  background-color: #bf0411;
  font-size: 1.4em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.modal-pl--inner .sign-now:hover {
  background-color: #000;
  color: #bf0411;
}

.modal-inner {
  width: 450px;
  background-color: #fff;
  margin: 0 auto;
  padding: 25px 32px 45px;
  box-sizing: border-box;
  font-family: "Open Sans", Arial;
  position: relative;
  overflow: hidden;
}

.taurus-novo-local h1 {
  font-size: 36px;
  letter-spacing: -2px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 11px;
}

.taurus-novo-local p {
  font-size: 14px;
  color: #15100c;
  font-weight: normal;
  margin-top: 11px;
  letter-spacing: -1px;
}

.close {
  content: "X";
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  background-color: #bf0411;
  text-align: center;
  color: #fff;
  padding: 5px;
  font-style: italic;
  cursor: pointer;
}

.modal-inner:after {
  content: "";
  background-image: url(../img/layout/logo-taurus-export.png);
  background-size: 100%;
  width: 280px;
  height: 88px;
  margin-left: -58px;
  position: absolute;
  bottom: -10px;
  right: -35px;
}

.featured-title {
  font-size: 24px;
  color: #bf0411;
  font-style: italic;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 28px;
}

.addr {
  color: #666;
  font-size: 12px;
  text-align: left;
  margin-left: 40px;
  position: relative;
}

.c-column .addr:nth-of-type(2){
  margin-left: 0;
}

.see-maps {
  color: #ff0104;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
}

.footer-submit {
  width: 100%;
  font-size: 13px;
  text-transform: uppercase;
  color: #ff0104;
  font-style: italic;
}


.alert-full {
  height: 50px;
  position: relative;
  background: #231F20;
}
.alert-wrapper {
  width: 870px;
  margin: 0 auto;
  padding: 13px 0 0 0;
  display: block;
}

.wrapper-brand {
  width: inherit;
  background-color: #ffffff;
  padding: 0;
}
.wrapper-inner {
  width: 870px;
  margin: 0 auto;
  height: auto;
  margin-bottom: 30px;
}

.grey-heading {
  color: #5d5d5d;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  display: block;
  font-size: 20px;
  margin-top: 0 !important;
}

.timeline-brand-image {
  width: inherit;
  display: block;
  margin-top: 60px;
}


.b-colum.a-column--half, .b-colum.b-column--half {
  display: inline-block;
  vertical-align: top;
}
.c-column.c-column--half {
  width: 310px;
}
.c-column--half {
  width: 380px;
}
.c-column {
  width: 630px;
  float: left;
}

.d-column.d-column-full {
  width: 270px;
}

.sac-title, .sac-number, .sac-danger, h4.sac-mail {
  color: #bf0411;
  position: relative;
}
.sac-number {
  font-weight: 600;
  font-size: 30px;
  margin-top: 13px;
  margin-bottom: 10px;
}
.main-footer h4 {
  color: #666;
  font-weight: normal;
}
.sac-title, .sac-number, .sac-danger, h4.sac-mail {
  color: #bf0411;
  position: relative;
}
.sac-mail {
  font-weight: 600;
}
.sac-mail {
  font-size: 20px;
  margin-top: 9px;
  margin-bottom: 16px;
}
.sac-danger {
  font-size: 11px;
  margin-top: 13px;
  font-weight: 600;
  position: relative;
}
.sac-title, .sac-number, .sac-danger, h4.sac-mail {
  color: #bf0411;
  position: relative;
}
.sac-number:before {
  background-image: url(../img/layout/phone-sac.png);
  height: 25px;
  width: 25px;
}
.sac-mail:before {
  background-image: url(../img/layout/mail-sac.png);
  height: 15px;
  width: 20px;
  left: -36px;
}
.sac-danger:before {
  background-image: url(../img/layout/icon-2.png);
  width: 20px;
  height: 20px;
  top: 0px!important;
  left: -37px;
  position: relative;
}
.sac-title:before, .sac-number:before, .sac-danger:before, .sac-mail:before {
  content: "";
  position: absolute;
  left: -40px;
  top: 6px;
}
.no-margin--bottom{
  margin-bottom: 20px;
}

.addr-pr, .contact-nav{
  position: relative;
  margin-left: 40px;
}
.addr-pr i, .contact-nav i {
  font-size: 30px;
  color: #BF0411;
  position: absolute;
  left: -40px;
  top: 5px;
}
.tel-contact {
  display: block;
  font-size: 13px;
  color: #6c6c72;
}
.tel-contact h4 {
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  text-decoration: uppercase;
  font-style: italic;
  color: #BF0411;
  margin: 10px 5px 5px 0;
}

.picture-default img{
 height: 500px;
  display: block;
}
.product-box__title{
  font-size: 16px!important;
  font-weight: bold;
  text-transform: none;
  color: #666!important;
  margin-bottom: 0;
  font-style: italic;
}
.product-box p a{
  font-size: 13px;
  color: #ff0104;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  width: 100%;
}

.menutop{
    float: right;
    margin-top: 20px;
}
.dist2{
    margin-left: -180px!important;
    opacity: 0.6;
}
.distributors-nav2{
    display: block;
    position: absolute;
    width: 330px;
    height: 175px;
    left: 50%;
    margin-left: -150px;
}
#south-america{
    display: block;
    width: 40px;
    height:65px;
    position: absolute;
    top: 97px;
    left: 76px;
}
.dist2 #south-america{
    left: 60px;
    width: 50px;
    height:80px;
}
#central-america{
    display: block;
    width: 15px;
    height:15px;
    position: absolute;
    top: 90px;
    left: 65px;
}
.dist2 #central-america{
    width: 20px;
    height:15px;
    top: 70px;
    left: 50px;
}
#europe{
    display: block;
    width: 56px;
    height:55px;
    position: absolute;
    top: 22px;
    left: 120px;
}
.dist2 #europe{
    width: 56px;
    height:55px;
    top: 0px;
    left: 120px;
}
#middle-east{
    display: block;
    width: 40px;
    height:30px;
    position: absolute;
    top: 68px;
    left: 160px;
}
.dist2 #middle-east{
    width: 40px;
    height:40px;
    top: 40px;
    left: 170px;
}
#asia{
    display: block;
    width:135px;
    height:110px;
    position: absolute;
    top: 0px;
    left: 160px;
}
#africa{
    display: block;
    width:60px;
    height:65px;
    position: absolute;
    top: 72px;
    left: 120px;
}
#oceania{
    display: block;
    width:60px;
    height:40px;
    position: absolute;
    top: 115px;
    left: 230px;
}
.dist2 #oceania{
    width:60px;
    height:60px;
    top: 90px;
    left: 270px;
}
/*responsive*/
@media(max-width: 1235px) {
    .page-wrapper {
        width: 100%;
    }
    .a-b-columns{
        width: 100%!important;
        max-width: 100%;
    }
    .inner-address {
        width: 950px;
    }
    .copyright {
        width: 950px;
    }
    .wrapper{
        width: 90%;
    }

    .list-box {
        width: calc(99%/3);
    }
    .list-box {
        margin-right: 0px!important;
    }
    .download-box__figure img{
        width: 100%;
    }
}
@media(max-width: 1132px){
    .main-header-full {
        width: 100%;
    }
    .wrapper {
        width: 100%;
        height: auto;
        padding: 0;
    }
    .main-header__top-area {
        position: relative;
        height: 70px;
    }
    h1.js-taurus-logo.taurus-logo.main-header__logo.taurus-logo--pt:before {
        content: "";
        height: 88px;
        width: 232px;
        background-color: #fff;
        display: block;
        position: absolute;
        left: -102px;
        display: none;
    }
    .taurus-logo {
        background-image: url(../img/layout/logo-taurus-armas.png);
        width: 440px;
        height: 90px;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
        background-position: right top;
    }
    /*lang*/
    .language-nav {
        top: 24px;
        left: 345px;
    }
    .menutop{
        float: right;
        margin-top: 12px;
        margin-right: 0px;
    }
    .page-wrapper {
        width: 100%;
    }
    .wrapper-inner{
        width: 90%;
        padding: 0px;
        margin: auto;
    }
  .brand-section__text {
    width: 92%;
  }
  .timeline-brand-image {
    margin: auto;
    margin-bottom: 30px;
  }
    /*banner-full*/
    .banner-full {
        width: 100%!important;
        height: 250px;
      background: #FFFFFF;
    }
    .banner-wrapper {
      top: -10px;
      position: relative;
        width: 85%;
    }
    .banner-inner{
        width: 100%!important;
    }
    .banner-item{
        background-size: 100%!important;
    }
    .content-banner-box article {
        margin-right: 45px;
    }
    /*product box*/
    .product-showcase {
        width: 90%;
        padding: 0px;
    }
    .product-box {
        margin-right: 3%;
        width: calc(94%/3);;
    }
    .product-box:last-child{
        margin-right: 0%;
    }
    .product-box img{
        width: 100%;
    }

        /*footer*/
    .a-b-columns{
        max-width: 90%;
        padding: 0px;
    }
    .c-column.c-column--half, .b-colum a-column--half {
        width: 32%;
    }
    .d-column.d-column-full {
        width: 100%;
    }
    .address {
        background-color: #fff;
        padding: 5px 0px ;
        margin-top: 30px;
    }
    .inner-address {
        width: 90%;
        padding: 0px;
    }
    .copyright{
      width: 90%;
    }
    .copyright .table__cell {
        padding: 10px 10px 10px 0px;
    }

  .grey-heading {
    margin-top: 10px !important;
  }


    .pagecontact{
        width: 90%;
        max-width: 90%;
    }

    .pagecontact2{
        width: 100%;
        max-width: 100%;
    }

}
@media(max-width: 1100px){
  .main-header-full {
    width: 100%;
  }
  .wrapper {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .main-header__top-area {
    position: relative;
    height: 70px;
  }
  h1.js-taurus-logo.taurus-logo.main-header__logo.taurus-logo--pt:before {
    content: "";
    height: 88px;
    width: 232px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: -172px;
    display: none;
  }
    .taurus-logo {
        background-image: url(../img/layout/logo-taurus-armas.png);
        width: 440px;
        height: 90px;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
        background-position: right top;
    }
    /*lang*/
    .language-nav {
        top: 24px;
        left: 345px;
    }
  .menutop{
    float: right;
    margin-top: 12px;
    margin-right: 12px;
  }
  .page-wrapper {
    width: 100%;
  }
  .wrapper-inner{
    width: 95%;
    padding: 0px;
    margin: auto;
  }
  .brand-section__text {
    width: 92%;
  }
  .timeline-brand-image {
    margin: auto;
    margin-bottom: 30px;
  }
  /*banner-full*/
  .banner-full {
    width: 100%!important;
    height: 250px;
    background: #FFFFFF;
  }
  .banner-wrapper {
    top: -20px;
    position: relative;
    width: 90%;
  }
  .banner-inner{
    width: 100%!important;
  }
  .banner-item{
    background-size: cover!important;
  }
  .content-banner-box article {
    margin-right: 50px;
  }
  /*product box*/
  .product-showcase {
    width: 90%;
    padding: 0px;
  }
  .product-box {
    margin-right: 3%;
    width: calc(94%/3);;
  }

  /*footer*/
  .a-b-columns{
    max-width: 90%;
    padding: 0px;
  }
  .c-column.c-column--half, .b-colum a-column--half {
    width: 33%;
  }
  .d-column.d-column-full {
    width: 100%;
  }
  .address {
    background-color: #fff;
    padding: 5px 0px ;
    margin-top: 30px;
  }
  .inner-address {
    width: 90%;
    padding: 0px;
  }
  .copyright{
    width: 90%;
  }
  .copyright .table__cell {
    padding: 10px 10px 10px 0px;
  }
}
@media(max-width: 1066px) {
  .banner-full {
    width: 100% !important;
    height: 200px;
    background: #FFFFFF;
  }
}

@media(max-width: 1004px){
  .c-column.c-column--half, .b-colum a-column--half {
    width: 28%;
  }
}


@media(max-width: 955px){
  body {
    min-width: 100%;
  }

  .banner-full {
    width: 100% !important;
    height: 200px;
    background: #FFFFFF;
    overflow: hidden;
  }

    .product-content .a-b-columns__column{
        width: 100%;
    }
    #videop{
        width: 100%!important;
        margin-top: 30px;
    }
    .a-b-columns--full .a-b-columns__column:last-of-type{
        margin-left: -10px;
    }
    .js-content-banner-gallery div, .js-content-banner-gallery .picture-slider, .js-content-banner-gallery  .js-picture-slider{
        width: 92%;
    }
    .js-content-banner-gallery div{
        width: 100%!important;
    }
    .picture-slider {
        width: 98%!important;
        margin-top: 20px;
    }
    .arrow-navigation--bottom-left{
        background: transparent;
    }
    .picture-slider img {
        border: 0;
        -ms-interpolation-mode: bicubic;
        width: 100%;
    }
}
@media(max-width: 845px){
  .banner-nav li {
    height: 20px;
    padding: 0 20px;
    line-height: 23px;
    margin-top: 20px;
  }
  .banner-nav .banner-nav-item span {
    font-size: 12px;
  }

  .a-b-columns--full .a-b-columns__column {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .a-b-columns--full .a-b-columns__column:last-of-type{
    padding-left: 0px;
  }
  .a-b-columns--full .a-b-columns__column img {
    width: 100%;
    height: auto;
  }
}

@media(max-width: 767px){
    .main-header-full {
        width: 100%;
    }
    .wrapper {
        width: 100%;
        height: auto;
        padding: 0px;
    }
    .main-header__top-area {
        position: relative;
        height: 55px;
    }
    h1.js-taurus-logo.taurus-logo.main-header__logo.taurus-logo--pt:before {
        content: "";
        height: 88px;
        width: 232px;
        background-color: #fff;
        display: block;
        position: absolute;
        left: -172px;
        display: none;
    }
    .taurus-logo {
        background-image: url(../img/layout/logo-taurus-armas.png);
        width: 260px;
        height: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
        background-position: right top;
        margin: 0px;
    }
    /*lang*/
    .language-nav {
        z-index: 999;
        position: absolute;
        right: 25px;
        left: inherit;
    }
    .menutop{
        float: right;
        margin-top: 5px;
        margin-right: -10px;
    }
    .page-wrapper {
        width: 100%;
    }
    .wrapper-inner{
        width: 100%;
        padding: 20px;
    }
    /*banner-full*/
    .banner-full {
        width: 100%!important;
        height: 200px;
    }
    .banner-inner{
        width: 100%!important;
    }
    .banner-item{
        background-size: cover!important;
    }
    .content-banner-box article {
        margin-right: 30px;
    }
    /*product box*/
    .product-showcase {
        width: 100%;
        padding: 20px;
    }
    .product-box {
        margin-right: 3%;
        width: calc(92%/3);;
    }

    /*footer*/
    .a-b-columns{
        max-width: 100%;
        padding: 20px;
    }
    .c-column.c-column--half, .b-colum a-column--half {
        width: 24%;
    }
    .d-column.d-column-full {
        width: 100%;
    }
    .address {
        background-color: #fff;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
    }
    .inner-address {
        width: 100%;
        padding: 20px;
    }
    .copyright .table__cell {
        padding: 10px 20px 10px 10px;
    }
}
@media(max-width:767px){
    .main-header__top-area {
        position: relative;
        height:120px;
    }
    h1.js-taurus-logo.taurus-logo.main-header__logo.taurus-logo--pt:before {
        content: "";
        height: 88px;
        width: 232px;
        background-color: #fff;
        display: block;
        position: absolute;
        left: -172px;
        display: none;
    }
    .taurus-logo {
        background-image: url(../img/layout/logo-taurus-armas.png);
        width: 100%;
        height: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
        background-position: right top;
        margin: 0px;
    }

    .menutop{
        width: 100%;
        float: right;
        margin-top: 70px;
        margin-right: -10px;
    }

    .contact-nav__area.social {
        float: left;
        margin: 0;
        vertical-align: middle;
        display: table-cell;
        width: 90px;
    }
    .header__nav-area {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        text-align: right;
    }
    .msearch {
        width: 100%!important;
        display: block;
        text-align: right;
    }
    .main-header__logo, .main-header__nav-area{
        width: 80%;
    }

    .content-banner-box article {
        width: 84%;
    }

    .banner-nav li {
        height: 20px;
        padding: 5px;
        line-height: 10px;
        margin-top: 20px;
    }
    .search-form__input{
        width: 350px!important;
        padding: 8px!important;
    }
    .main-nav__trigger {
        margin-right: -10px;
    }

    .product-box {
        width: 100%!important;
        margin-bottom: 20px;
    }
    .product-box img{
        width: 100%!important;
    }

    .icon.social.icon-rounded-facebook , .icon.social.icon-rounded-linkedin, .icon.social.icon-rounded-youtube{
        position: relative;
        top: 15px;
    }
}


@media(max-width: 760px){
  .c-column.c-column--half, .b-colum.a-column--half, .b-colum.b-column--half, .d-column .d-column-full{
    width: 100%!important;
  }
  .d-column-full{
    width: 100%!important;
  }
  .sac-title, .sac-number, .sac-danger, .sac-mail {
    padding-left: 40px;
  }
  .sac-title::before, .sac-number::before, .sac-danger::before, .sac-mail::before {
    left: 0px;
    background-repeat: no-repeat;
  }
  .copyright .table__cell {
    padding: 30px;
  }

    .d-column.d-column-full {
        margin-top: 20px;
    }
    .heading--beta{
        width: 100%!important;
    }

    .list-box {
        width: 100%;
    }
}

@media(max-width: 625px){
    .heading--beta{
        width: 100%!important;
    }
}

@media(max-width:623px) {
    .search-form__input {
        width: 300px !important;
        padding: 8px !important;
    }
}
@media(max-width:571px) {
    .search-form__input {
        width: 250px !important;
        padding: 8px !important;
    }
}
@media(max-width:520px) {
    .search-form__input {
        width: 220px !important;
        padding: 8px !important;
    }
    .award-showcase{
        width: 100%;
    }
    .award-box{
        width: 100%;
        text-align: center;
    }
    .award-box img {
        width: 70%;
        margin: auto;
    }
    .product-box__figure{
        width: 100%;
        text-align: center;
    }

}
@media(max-width:486px) {
    .main-header__top-area {
        position: relative;
        height:120px!important;
    }
    .search-form__input {
        width: 155px !important;
        padding: 8px !important;
    }
    .main-header__top-area {
        position: relative;
        height:150px;
    }
}
@media(max-width:410px){
    .main-header__top-area {
        position: relative;
        height:150px;
    }
    h1.js-taurus-logo.taurus-logo.main-header__logo.taurus-logo--pt:before {
        content: "";
        height: 88px;
        width: 232px;
        background-color: #fff;
        display: block;
        position: absolute;
        left: -172px;
        display: none;
    }
    .taurus-logo {
        background-image: url(../img/layout/logo-taurus-armas.png);
        width: 100%;
        height: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
        background-position: right top;
        margin: 0px;
    }
    /*lang*/
    .language-nav {
        z-index: 999;
        position: absolute;
        right: 25px;
        top: 70px;
        left: inherit;
    }
    .menutop{
        width: 100%;
        float: right;
        margin-top: 70px;
        margin-right: -10px;
    }

    .contact-nav__area.social {
        float: left;
        margin: 0;
        vertical-align: middle;
        display: table-cell;
        width: 100%;
    }
    .header__nav-area {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        text-align: right;
    }
    .msearch {
        width: 100%!important;
        display: block;
        text-align: right;
    }
    .main-header__logo, .main-header__nav-area{
        width: 100%;
    }

    .content-banner-box article {
        width: 84%;
    }

    .banner-nav li {
        height: 20px;
        padding: 5px;
        line-height: 10px;
        margin-top: 20px;
    }
    .search-form__input{
        width: 130px!important;
        padding: 8px!important;
    }
    .main-nav__trigger {
        margin-right: -10px;
    }

    .product-box {
        width: 100%!important;
        margin-bottom: 20px;
    }
    .product-box img{
        width: 100%!important;
    }
}
@media(max-width: 361px) {
    .main-header__top-area {
        position: relative;
        height:120px;
    }
    .search-form__input{
        width: 100px!important;
        padding: 8px!important;
    }
    .contact-nav__area.social{
        margin-top: -10px;
    }
}
@media(max-width: 335px) {
    .minresolution{
        display: block!important;
        background: #ffffff;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99999;
        text-align: center;
        vertical-align: middle;
        padding-top: 120px;
    }
}