/*
#  $$$$$$$$\  $$$$$$\  $$$$$$$\  $$\      $$\ 
#  $$  _____|$$  __$$\ $$  __$$\ $$$\    $$$ |
#  $$ |      $$ /  $$ |$$ |  $$ |$$$$\  $$$$ |
#  $$$$$\    $$ |  $$ |$$$$$$$  |$$\$$\$$ $$ |
#  $$  __|   $$ |  $$ |$$  __$$< $$ \$$$  $$ |
#  $$ |      $$ |  $$ |$$ |  $$ |$$ |\$  /$$ |
#  $$ |       $$$$$$  |$$ |  $$ |$$ | \_/ $$ |
#  \__|       \______/ \__|  \__|\__|     \__|
#
#  $$$$$$$$\ $$\       $$$$$$$$\ $$\      $$\ $$$$$$$$\ $$\   $$\ $$$$$$$$\  $$$$$$\  
#  $$  _____|$$ |      $$  _____|$$$\    $$$ |$$  _____|$$$\  $$ |\__$$  __|$$  __$$\ 
#  $$ |      $$ |      $$ |      $$$$\  $$$$ |$$ |      $$$$\ $$ |   $$ |   $$ /  \__|
#  $$$$$\    $$ |      $$$$$\    $$\$$\$$ $$ |$$$$$\    $$ $$\$$ |   $$ |   \$$$$$$\  
#  $$  __|   $$ |      $$  __|   $$ \$$$  $$ |$$  __|   $$ \$$$$ |   $$ |    \____$$\ 
#  $$ |      $$ |      $$ |      $$ |\$  /$$ |$$ |      $$ |\$$$ |   $$ |   $$\   $$ |
#  $$$$$$$$\ $$$$$$$$\ $$$$$$$$\ $$ | \_/ $$ |$$$$$$$$\ $$ | \$$ |   $$ |   \$$$$$$  |
#  \________|\________|\________|\__|     \__|\________|\__|  \__|   \__|    \______/
#
*/

/*! OVERWRITING... */

/*#navigation {
	width: 845px;
}*/
#content {
	width: 860px;
}
#footer {
	right: 0;
	width: 50px;
}
body.modal-content {
	background: #eee;
}
body.modal-content #content {
	padding: 30px 10px;
}
/*! TEH CSS */

.section-title {
	font: normal 18px/18px Arial;
	text-transform: uppercase;
	color: #00885f;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px; margin-bottom:20px;
}
.section-title span {
	font-weight: bold;
}
.form-title {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-left: 20px;
	color: #00885f;
}
.actions {
	float: right;
}
.actions li {
	display: inline-block;
	color: #666;
}
.actions li + li {
	margin-left: 20px;
}
.section-title + .actions.top {
	margin-top: -75px;
}
a.gray-button {
	display: inline-block;
	text-decoration: none;
}
.gray-button.large {
	font-size: 12px;
	line-height: 35px;
}
.gray-button.add-button:before {
	content: '';
	display: inline-block;
	margin: -2px 8px 0 0;
	width: 12px;
	height: 12px;
	vertical-align: middle;
	background: url(../images/sprite.png) 0 0 no-repeat;
}
.gray-button.add-button:hover:before {
	background-position: 0 -30px;
}
.gray-button {
	color: #666;
	box-shadow: inset 0 2px 1px 1px white,  0 1px 0 1px rgba(0, 0, 0, .3);
	border-radius: 3px;
	background: #f8f8f8;
	font-size: 11px;
	line-height: 26px;
	padding: 0 22px;
	background: -moz-linear-gradient(top, #f8f8f8 0%, #9d9d9d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#9d9d9d));
	background: -webkit-linear-gradient(top, #f8f8f8 0%,#9d9d9d 100%);
	background: -o-linear-gradient(top, #f8f8f8 0%,#9d9d9d 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%,#9d9d9d 100%);
	background: linear-gradient(to bottom, #f8f8f8 0%,#9d9d9d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#9d9d9d',GradientType=0 );
}
.gray-button:hover {
    background: -moz-linear-gradient(top, #f8f8f8 0%, #838383 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#838383));
	background: -webkit-linear-gradient(top, #f8f8f8 0%,#838383 100%);
	background: -o-linear-gradient(top, #f8f8f8 0%,#838383 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%,#838383 100%);
	background: linear-gradient(to bottom, #f8f8f8 0%,#838383 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#838383',GradientType=0 );	
}
.gray-button.disabled {
	opacity: .6;
}
.gray-button strong {
	color: #00885f;
}
.top-link {
	text-align: right;
	padding-top: 20px;
	border-top: 1px solid #ddd;
}
.top-link a {
	color: #00885f;
	text-decoration: none;
}
.top-link a:before {
	content: '^';
	margin-right: 10px;
}
.form-elements select,
.form-elements input {
	margin: 0 !important;
	font-size: 11px;
	border: 1px solid #a2a2a2;
	color: #333;
	background: white;
	-webkit-box-shadow: inset 1px 1px 3px rgba(105, 105, 105, .2), 1px 1px 1px rgba(255, 255, 255, .75);
	box-shadow: inset 1px 1px 3px rgba(105, 105, 105, .2), 1px 1px 1px rgba(255, 255, 255, .75);
}
.form-elements input[disabled],
.form-elements input.disabled,
.form-elements select[disabled].hasCustomSelect + .customSelect,
.form-elements select.disabled.hasCustomSelect + .customSelect {
	opacity: .6;
}
.form-elements input {
	padding: 4px 11px !important;
	line-height:12px; width:236px;
}
.form-elements input:focus,
select.hasCustomSelect:focus + .customSelect {
	border: 1px solid #f75959;
	outline: none;
}
.form-elements label {
	display: block; margin:0;
}
.form-elements input[type=radio] {
	width: auto;
}
.form-elements select {
	padding: 8px 11px !important;
	line-height: 11px;
	width: 260px;
}
.form-elements .radios span {
	display: block;
}
.form-elements .radios label {
	display: inline-block;
}
.form-elements fieldset {
	width: 860px;
	margin: 0 0 20px;
	padding: 0;
}
.form-elements .submit-button {
	padding-top: 20px;
	border-top: 1px solid #ddd;
	text-align: center;
}
.form-elements fieldset.gray {
	background: #ddd;
	padding: 20px 0 0;
	margin-bottom: 40px;
}
.form-elements .gray .fields-list > li {
	float: left;
	margin: 0 0 20px 20px;
	width: 260px;
}
.form-elements .gray .fields-list > li.first {
	clear: left;
}
.form-elements .gray .fields-list .uf,
.form-elements .gray .fields-list .uf select {
	width: 75px;
}
.form-elements .gray .fields-list .city,
.form-elements .gray .fields-list .city select {
	width: 165px;
}
.form-elements .gray .fields-list .textarea {
	width: 540px;
}
.form-elements .gray .fields-list .textarea textarea {
	width: 530px;
}
.form-elements .gray .fields-list .new-register {
	clear: left;
	width: 820px;
	padding-top: 20px;
	text-align: right;
}
.form-elements .gray .fields-list .half,
.form-elements .gray .fields-list .half select {
	width: 120px;
}
.form-elements .gray .fields-list .half input {
	width: 98px;
}
.form-elements .gray .fields-list .footnote {
	color: #333;
	font-size: 10px;
	display: inline-block;
	padding: 5px 5px 5px 0;
}
.form-elements .gray .dates input {
	width: 60px;
}
.form-elements .gray .dates label[for] {
	display: inline-block;
}
.form-elements .gray .dates input + label {
	padding-left: 10px;
}
.form-elements .fields-list a.footnote {
	text-decoration: underline;
}
.form-elements .gray .file input[type=file] {
	display: none;
}
.form-elements .gray .fields-list .image {
	width: 540px;
}
.form-elements .gray .fields-list .image img {
	max-width: 540px
}
.form-elements .gray .fields-list .image.thumb {
	width: 260px;
}
.form-elements .gray .fields-list .image.thumb img {
	max-width: 260px
}

.form-elements .gray .fields-list .image.thumb.mini img {
	
	max-height: 129px;
	position: absolute;
	margin-top: -28px;
	margin-left: 1px;
}

.form-elements .gray .fields-list .image.thumb.mini2 img {	
	max-height: 95px;
	position: absolute;
	margin-top: 15px;	
}

.form-elements .gray .fields-list li.delete-image {
	position: absolute;	
	margin-top: 73px;
	margin-left: 715px;
}

.form-elements .gray .fields-list li.delete-image2 {
	position: absolute;
	margin-top: 236px;
	margin-left: 581px;
}

.form-elements .gray .file label span {
	display: block;
	position: relative;
	padding: 4px;
	font-size: 11px;
	overflow: hidden;
	border: 1px solid #888;
	color: #333;
	background: white;
	-webkit-box-shadow: inset 1px 1px 3px rgba(105, 105, 105, .2), 1px 1px 1px rgba(255, 255, 255, .75);
	box-shadow: inset 1px 1px 3px rgba(105, 105, 105, .2), 1px 1px 1px rgba(255, 255, 255, .75);
}
.form-elements .gray .file label span:after {
	content: 'Selecione';
	position: absolute;
	right: 5px;
	top: 3px;
	color: #666;
	box-shadow: inset 0 2px 1px 1px white,  0 1px 0 1px rgba(0, 0, 0, .3);
	border-radius: 3px;
	background: #f8f8f8;
	font-size: 11px;
	line-height: 15px;
	padding: 0 22px;
	background: -moz-linear-gradient(top, #f8f8f8 0%, #9d9d9d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#9d9d9d));
	background: -webkit-linear-gradient(top, #f8f8f8 0%,#9d9d9d 100%);
	background: -o-linear-gradient(top, #f8f8f8 0%,#9d9d9d 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%,#9d9d9d 100%);
	background: linear-gradient(to bottom, #f8f8f8 0%,#9d9d9d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#9d9d9d',GradientType=0 );
}
.form-elements .gray .file-download {
	display: inline-block;
	vertical-align: middle;
}

.form-elements .gray .file-download:before, 
.fancy-table .file-download:before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin: -5px 5px 0 0;
	background: url(../images/sprite.png) 0 -90px no-repeat;
}

.form-elements .gray .file-download.doc:before,
.form-elements .gray .file-download.docx:before, 
.fancy-table .file-download.docx:before {
	background-position: -30px -90px;
}
.form-elements .gray .file-download.pdf:before, 
.fancy-table .file-download.pdf:before {
	background-position: -60px -90px;
}
.form-elements .gray .file-download.xls,
.form-elements .gray .file-download.xlsx:before {
	background-position: -90px -90px;
}
.form-elements .gray .file-download.img:before {
	background-position: -120px -90px;
}

.form-elements .gray .file-download + .gray-button {
	margin-left: 10px;
}

.fancy-table .check {
	font: 0/0 a;
	padding: 14px 5px 12px 20px;
}
.form-elements .radios,
.form-elements .checkboxes {
	display: block;
	padding: 4px 0;
	margin-left: -5px;
}
.form-elements .radios li,
.form-elements .checkboxes li {
	display: inline-block;
	margin-left: 5px;
}
.form-elements .radios.iso li,
.form-elements .checkboxes.iso li {
	width: 125px;
}
.form-elements .gray .fields-list li.single-column,
.form-elements .gray .fields-list li.two-columns,
.form-elements .gray .fields-list li.three-columns,
.form-elements .gray .fields-list li.scroll,
.form-elements .gray .fields-list li.single-column > ul,
.form-elements .gray .fields-list li.two-columns > ul,
.form-elements .gray .fields-list li.three-columns > ul,
.form-elements .gray .fields-list li.single-column .radios li,
.form-elements .gray .fields-list li.single-column .checkboxes li {
	width: 820px;
}
.form-elements .gray .fields-list div.scroll {
	overflow-x: hidden;
	overflow-y: auto;
	padding-left: 5px;
	border: 1px solid #efefef;
	height: 108px;
}
.form-elements .scroll .radios li,
.form-elements .scroll .checkboxes li {
	width: 800px;
}
.form-elements .two-columns .radios li,
.form-elements .two-columns .checkboxes li {
	width: 400px;
}
.form-elements .three-columns .radios li,
.form-elements .three-columns .checkboxes li {
	width: 260px;
}
.form-elements .radios input,
.form-elements .checkboxes input,
.fancy-table .check input {
	float: left;
	opacity: 0;
	width: 16px;
	height: 16px;
}
.form-elements .radios label,
.form-elements .checkboxes label,
.fancy-table .check label {
	display: inline-block;
	margin-left: -16px;
	white-space: nowrap;
}
.form-elements .radios label:before,
.form-elements .checkboxes label:before,
.fancy-table .check label:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	background: url(../images/sprite.png) no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
.form-elements .radios input[type='radio'] + label:before {
	background-position: -90px 0;
}
.form-elements .checkboxes input[type='checkbox'] + label:before,
.fancy-table .check input[type='checkbox'] + label:before {
	background-position: -120px 0;
}
.form-elements .radios input[type='radio']:checked + label:before {
	background-position: -90px -30px;
}
.form-elements .checkboxes input[type='checkbox']:checked + label:before,
.fancy-table .check input[type='checkbox']:checked + label:before {
	background-position: -120px -30px;
}
.form-elements .green-button {
	font-size: 14px;
	width: 120px;
	text-align: left;
	padding: 9px 19px !important;
	border: 1px solid #00885f;
	border-radius: 3px;
	color: white;
	-webkit-box-shadow: inset 1px 1px rgba(255, 255, 255, .5), 1px 1px 1px rgba(0, 0, 0, .45);
	box-shadow: inset 1px 1px rgba(255, 255, 255, .5), 1px 1px 1px rgba(0, 0, 0, .45);
	background: #449E7A;
	background: -moz-linear-gradient(top, #449E7A 0%, #2C936D 50%, #00885f 51%, #00774e 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #449E7A), color-stop(50%, #2C936D), color-stop(51%, #00885f), color-stop(100%, #00774e));
	background: -webkit-linear-gradient(top, #449E7A 0%, #2C936D 50%, #00885f 51%, #00774e 100%);
	background: -o-linear-gradient(top, #449E7A 0%, #2C936D 50%, #00885f 51%, #00774e 100%);
	background: -ms-linear-gradient(top, #449E7A 0%, #2C936D 50%, #00885f 51%, #00774e 100%);
	background: linear-gradient(to bottom, #449E7A 0%, #2C936D 50%, #00885f 51%, #00774e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#449E7A', endColorstr='#00774e', GradientType=0 );
}
.form-elements .green-button:hover,
.form-elements .green-button.active {
	background: #05aa97;
	background: -moz-linear-gradient(top, #05aa97 0%, #2c936d 50%, #00885f 51%, #00663d 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #05aa97), color-stop(50%, #2c936d), color-stop(51%, #00885f), color-stop(100%, #00663d));
	background: -webkit-linear-gradient(top, #05aa97 0%, #2c936d 50%, #00885f 51%, #00663d 100%);
	background: -o-linear-gradient(top, #05aa97 0%, #2c936d 50%, #00885f 51%, #00663d 100%);
	background: -ms-linear-gradient(top, #05aa97 0%, #2c936d 50%, #00885f 51%, #00663d 100%);
	background: linear-gradient(to bottom, #05aa97 0%, #2c936d 50%, #00885f 51%, #00663d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05aa97', endColorstr='#00663d', GradientType=0 );
}
.form-elements .green-button.disabled,
.form-elements .green-button[disabled],
.form-elements .green-button.disabled + .after,
.form-elements .green-button[disabled] + .after {
	opacity: .6;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.form-elements .green-button + .after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	background: url(../images/sprite.png) no-repeat;
	height: 18px;
	cursor: pointer;
}
.form-elements .green-button.search + .after {
	width: 17px;
	margin: -2px 0 0 -25px;
	background-position: -150px 0;
}
.form-elements .green-button.tick + .after {
	width: 23px;
	margin: -2px 0 0 -31px;
	background-position: -150px -30px;
}

.form-elements.upload-wrapper {
	margin: 0;
}
.form-elements .px-widget {
	margin-left: 10px;
}

.form-elements #thumb-list {
	padding: 20px;
	margin-left: -15px;
}

.form-elements #thumb-list .caption {
	display: none;
}
.form-elements #thumb-list .thumb {
	display: inline-block;
	float: none;
	vertical-align: top;
	margin: 0 0 20px 15px;
	border: none;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .45);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .45);
}
.form-elements #thumb-list .thumb img {
	width: 110px;
	border: 0;
	padding: 0;
}
.form-elements #px-form-1 {
	padding: 0 20px;
}

.submit-button {
	position: relative;
	text-align: center;
}
.submit-button .footnote {
	position: absolute;
	left: 0;
	color: #333;
	line-height: 32px;
}
.fancy-table {
	width: 100%;
	clear: both;
}
.fancy-table th,
.fancy-table td {
	padding: 10px 20px;
	line-height: 22px;
	vertical-align: top;
}
.fancy-table th {
	background: #00885f;
	color: white;
	text-align: left;
}
.fancy-table th.table-actions {
	font: 0/0 a;
}
.fancy-table tr {
	background: #d1d1d1;
}
.fancy-table tr.odd {
	background: #dfdfdf;
}
.fancy-table td.actions {
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
}
.fancy-table .action {
	position: relative;
	display: inline-block;
	z-index: 5;
	width: 20px;
	height: 20px;
	font: 0/0 a;
	margin: 0 0 0 5px;
	text-indent: 0;
	border: 1px solid #00885f;
	-webkit-box-shadow: inset 1px 1px rgba(255, 255, 255, .5), 1px 1px 1px rgba(0, 0, 0, .45);
	box-shadow: inset 1px 1px rgba(255, 255, 255, .5), 1px 1px 1px rgba(0, 0, 0, .45);
	background: -moz-linear-gradient(top, #2D946E 0%,  #007850 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2D946E), color-stop(100%, #007850));
	background: -webkit-linear-gradient(top, #2D946E 0%, #007850 100%);
	background: -o-linear-gradient(top, #2D946E 0%, #007850 100%);
	background: -ms-linear-gradient(top, #2D946E 0%, #007850 100%);
	background: linear-gradient(to bottom, #2D946E 0%, #007850 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2D946E', endColorstr=' #007850',GradientType=0 );
}
.fancy-table .action:before {
	content: '';
	position: absolute;
	top: 6px;
	left: 50%;
	width: 15px;
	height: 15px;
	background: url(../images/sprite.png) no-repeat;
	top: 6px;
	left: 50%;
	margin-left: -6px;
}
.fancy-table .action.edit:before {
	background-position: 0 -60px;
}
.fancy-table .action.calendar:before {
	background-position: -30px -60px;
	margin-left: -4px;
}
.fancy-table .action.delete:before {
	background-position: -60px -60px;
}
.fancy-table .action.view:before {
	background-position: -90px -60px;
}
.fancy-table .action.tick:before {
	background-position: -120px -60px;
}
.fancy-table .action:first-child {
	margin-left: 0;
}

.customSelect {
	position: relative;
	font-size: 11px;
	line-height: 24px;
	padding: 0 11px;
	border: 1px solid #a2a2a2;
	color: #333;
	background: white;
	-webkit-box-shadow: inset 1px 1px 3px rgba(105, 105, 105, .2), 1px 1px 1px rgba(255, 255, 255, .75);
	box-shadow: inset 1px 1px 3px rgba(105, 105, 105, .2), 1px 1px 1px rgba(255, 255, 255, .75);
}
select.hasCustomSelect {
	z-index: 5;
}
.customSelect:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 8px;
	width: 5px;
	height: 3px;
	background: url(../images/sprite.png) -150px -60px no-repeat;
}
.dataTables_info {
	padding: 20px 0;
}
.search-controls {
	padding-bottom: 20px;
}
.search-controls select {
	margin: 0;
}
.search-controls.bottom {
	padding-top: 20px;
}
.search-results,
.dataTables_info {
	color: #666;
	line-height: 24px;
}
.search-results strong,
.dataTables_info strong {
	color: #333;
}
.dataTables_paginate {
	margin: -40px -8px 0 0;
}
.dataTables_paginate a,
.search-controls a {
	color: #00885f;
}.search-controls a + a {
	margin-left: 20px;
}
.dataTables_paginate .paginate_active,
.dataTables_paginate .paginate_button_disabled {
	color: #333;
}
.dataTables_paginate .paginate_button_disabled {
	opacity: .6;
}
.dataTables_paginate .paginate_button_disabled:hover {
	text-decoration: none;
	cursor: default;
}
.search-controls .numbers,
.search-controls .next {
	margin-left: 5px;
}
.dataTables_paginate .paginate_active,
.dataTables_paginate .paginate_button {
	cursor: pointer;
}
.dataTables_paginate .paginate_active,
.dataTables_paginate .paginate_button,
.search-controls .numbers a,
.search-controls .numbers span {
	padding: 5px;
}
.dataTables_paginate .paginate_button.last {
	padding-right: 0;
}
.tooltip, .arrow:after {
	background: rgba(31, 55, 41, 0.9);
}

.tooltip {
	pointer-events: none;
	opacity: 0;
	display: inline-block;
	position: absolute;
	padding: 10px;
	color: white;
	border-radius: 3px;
	margin-top: -10px;
	text-align: center;
	font-stretch: condensed;
	text-decoration: none;
	z-index: 1;
	-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
}
.arrow {
	width: 28px;
	height: 8px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -24px;
	bottom: -8px;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -5px;
	width: 8px;
	height: 8px;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	transform:      rotate(45deg);
}
.tooltip.active {
	opacity: 1;
	z-index: 11;
	margin-top: 5px;
	-webkit-transition: opacity 0.2s ease, margin 0.2s ease;
	-moz-transition:    opacity 0.2s ease, margin 0.2s ease;
	-ms-transition:     opacity 0.2s ease, margin 0.2s ease;
	-o-transition:      opacity 0.2s ease, margin 0.2s ease;
}
.tooltip.out {
	opacity: 0;
	margin-top: -10px;
}
.dashboard {
	margin-left: -15px;
	font-size: 0;
}
.dashboard h3 {
	background: url(../images/bg-dashboard.png) no-repeat;
	display: inline-block;
	width: 100%;
	line-height: 36px;
	margin: 0 0 -1px;
	font-size: 16px;
	color: white;
	text-transform: uppercase;
	padding-left: 10px;
}
.dashboard h3:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	margin: -5px 10px 0 0;
	background: url(../images/sprite.png?hue) no-repeat;
}
.dashboard .register:before {
	background-position: 0 -120px;
}
.dashboard .schedule:before {
	background-position: -30px -120px;
}
.dashboard .reports:before {
	background-position: -60px -120px;
}
.dashboard .admin-panel:before {
	background-position: -90px -120px;
}
.dashboard .volunteer:before {
	background-position: -120px -120px;
}
.dashboard > li {
	display: inline-block;
	width: 275px;
	margin: 0 0 20px 15px;
	vertical-align: top;
}
.dashboard .dashboard-links {
	background: #ddd;
	width: 224px;
	min-height: 200px;
	padding: 20px 20px 10px;
}
.dashboard .dashboard-links a {
	font: 11px Arial;
	color: #007955;
}
.dashboard .dashboard-links li {
	margin-bottom: 10px;
}
.dashboard .dashboard-links li:before {
	content: '»';
	font: 11px Arial;
	display: inline-block;
	vertical-align: top;
	color: #666;
	margin: -2px 5px 0 0;
}
.overlay{position:absolute;top:0;bottom:0;left:0;right:0;z-index:100;background:#000;background:rgba(0,0,0,0.8);-webkit-transition:opacity .3s;-moz-transition:opacity .3s;-o-transition:opacity .3s;-ms-transition:opacity .3s;transition:opacity .3s;}
.overlay .wrapper{-webkit-transition:margin .3s;-moz-transition:margin .3s;-o-transition:margin .3s;-ms-transition:margin .3s;transition:margin .3s}
.overlay .faded{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
.overlay.faded{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.overlay.faded .wrapper{margin-top:50px}
.overlay .images-list{position:relative;margin:0 auto;width:612px;height:612px;font-size:0;}
.overlay .images-list li{position:absolute;top:0;-webkit-transition:opacity .3s;-moz-transition:opacity .3s;-o-transition:opacity .3s;-ms-transition:opacity .3s;transition:opacity .3s;z-index:101;}
.overlay .images-list li.faded{z-index:100}
.modal .close{position:absolute;right:20px;top:20px;text-align:center;z-index:110;width:30px;height:30px;font:0/0 a;text-decoration:none;}
.modal .close:after{content:'';display:inline-block;width:24px;height:24px;margin-top:5px; background: url(../images/sprite.png) -60px 0 no-repeat;}
.modal .close:hover:after{background-position:-60px -30px;}
.iframe-wrapper{width:900px; margin: 0 auto; position:relative; }
.iframe-wrapper iframe{width:900px;border:0; }
.modal-content #content { margin-top: 0;}


.img-upload{margin: 10px 0;}
.input-img{width: 270px !important;}