*{ padding: 0px;   margin: 0px;}
html,body{width:100%; height:100%;}
body{background:url(../images/bg-preto.png) repeat 0 0; color:#000; font-family:"Trebuchet MS",Verdana,Helvetica; font-size: 11px;}

html{
	/*background: url(../images/bg-admin-6.jpg) no-repeat center center fixed;*/
	background: url(../images/bg-admin-5.jpg) no-repeat center center fixed;
	/*background: url(../images/bg-admin-4.jpg) no-repeat center center fixed;*/
	/*background: url(../images/bg-admin-3.jpg) no-repeat center center fixed;*/
	/*background: url(../images/bg-admin-7.jpg) no-repeat center center fixed;*/
	/*background: url(../images/bg-admin.jpg) no-repeat center center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



hr {border-style: dotted;}
a{color:#007d54;text-decoration: none;}
a:hover{text-decoration: underline;}
select {padding:2px 2px 5px 2px; font-size:12px; color: #000; margin-bottom:5px; margin-top:5px; }
select option {
	margin: 5px 0 5px 0;
	padding: 0 5px 0 5px;
}
ul {list-style-type:none;}
ol{ margin-bottom:10px; list-style-type: lower-alpha; margin-left:20px;}
ol li{ margin-bottom:5px;}
p{margin-bottom:10px;}
h1,h2,h3,h4{margin-bottom:10px; font-weight:bolder;}
h1{font-size:18px;}
h2{font-size:16px;}
h3,h4{font-size:11px;}
img{border:0px;}
address{font-style:normal; margin-bottom:5px;}
/* ---------------------------------
BUTTONS
--------------------------------- */
a.add{
	display:inline-block;
	background: #FFF url(../images/add.png) no-repeat;
	width:16px;
	height:16px;
	margin-left:5px;
	text-indent:-9000px;
	cursor:pointer;
}
a.select{
	display:inline-block;
	background: #FFF url(../images/select.png) no-repeat;
	width:16px;
	height:16px;
	margin-left:5px;
	text-indent:-9000px;
	cursor:pointer;
}
a.edit{
	display:inline-block;
	background: #FFF url(../images/edit.gif) no-repeat;
	width:16px;
	height:16px;
	margin-left:5px;
	text-indent:-9000px;
	cursor:pointer;
}
a.delete{
	display:inline-block;
	background: #FFF url(../images/delete.png) no-repeat;
	width:16px;
	height:16px;
	margin-left:5px;
	text-indent:-9000px;
	cursor:pointer;
}
a.download{
	display:inline-block;
	background: #FFF url(../images/download.png) no-repeat;
	width:16px;
	height:16px;
	margin-left:5px;
	text-indent:-9000px;
	cursor:pointer;
}
a.view{
	display:inline-block;
	background: #FFF url(../images/view.png) no-repeat;
	width:16px;
	height:16px;
	margin-left:5px;
	text-indent:-9000px;
	cursor:pointer;
}
/* ---------------------------------
LAYOUT
--------------------------------- */
#page{
	background:url(../images/bg-sistema.jpg) repeat-x #eee;
	height:auto;
	min-height:300%;
	width:100%;
	position:absolute;
	padding-bottom: 50px;
}
#pageLogin{
	position:relative;
	margin:auto;
	background:none;
}

#header{
	position:relative;
	padding:0;
	/* overflow:hidden; */
	padding:0 0 0 45px;
}
#header .logo{position:relative; margin:10px 0 0 0; float:left}
#form_error{
	color: #ff0000;
	font-weight: bold;
}

#header div.login{position:absolute; top:10px; right:20px; color:#FFF;}
#header div.login a{color:#FFF;}
#navigation {
	position: absolute;
	width: 849px;
	padding-left: 0;
	font-size: 12px;
	height: 35px;
	background: #007d54;
	z-index: 10;
	top: 102px;
 }

#content{
	width:920px;
	height:auto;
	padding:45px 0 0 45px;
	/*margin-top: 15px;*/
}
#content #box-login{
	position:relative;
	padding:20px;
	top:50px;
	margin:auto;
	width:700px;
	height:150px;
}

#content #box-login img{
	margin-left:19px;
	margin-top:-54px;
}


#content #box-login button{float:right;}
#footer{
	width:100%;
	clear:both;
	position: fixed;
	bottom:0px;
}
#footer img{
	float:right;
	margin-right:30px;
	padding-bottom:10px;
}
/* ---------------------------------
GALERIA
--------------------------------- */
#gallery{margin-top:20px;}
#gallery ul li{float:left; margin:5px;}
#gallery ul li .box{border: solid 1px #EEEEEE; text-align:center; width:100px;overflow:hidden; padding:5px;}
#gallery ul li .box .caption{display:block; margin-bottom:10px;}

/* ---------------------------------
FORMULARIOS
--------------------------------- */
form#admin fieldset{
	padding:10px 10px 10px 0;
	border:none;
	margin:64px 0 10px 0;
}

fieldset{
	padding:10px 10px 10px 0;
	border:none;
	margin:0px 0px 10px 0px;
}

.ui-tabs-panel fieldset{padding:0px; border:none;}


fieldset legend, form#admin fieldset legend {
	top: -15px;
	color:#4093EC;
	font-weight:bold;
	left:-5px;
	padding:5px;
	background-color:#FFF;
 }

fieldset ul{}
fieldset ul li{position:relative; }
fieldset ul li h3{margin:10px 0 10px 0;}
fieldset ul li.listaEspecialidades{position:relative; margin:0; height: 200px;}
fieldset ul li.listaEspecialidades label{width: 350px;}
fieldset ul li ul.listaMenu{padding:5px 0 7px 15px;}
fieldset ul li fieldset{margin-top:10px; margin-bottom:10px; border:none;}
fieldset ul li label{display:block; margin-bottom:2px; color:#333; font-size:12px; margin-top:17px; }
#maisInput input { display:block; }

form#admin fieldset ul li{position:relative; margin-bottom:5px; float:left}
form#admin fieldset ul li h3{margin:10px 0 10px 0;}
form#admin fieldset ul li.listaEspecialidades{position:relative; margin-bottom:5px; height: 200px;}
form#admin fieldset ul li.listaEspecialidades label{width: 350px;}
form#admin fieldset ul li fieldset{margin-top:10px; margin-bottom:10px; border:solid 1px #EEE;}
form#admin fieldset ul li label{display:block; margin-bottom:2px; color:#333; font-size:12px; margin-top:17px; }
#maisInput input { display:block; }

#pageLogin #box-login > a { font-size:20px; }
#pageLogin .link-password { padding:20px; }
#pageLogin .success { display:block; margin-top:40px; font-size:20px; color:white; }

/*
label.error{
	display:inline-block;
	margin-left:5px;
	background: #FFF url(../images/error.png) no-repeat;
	width:16px;
	height:16px;
	text-indent:-9000px;
}*/
label.error{
	color: #ff0000;
	font-size: 9px;
}
fieldset button{font-family:"Segoe UI",Verdana,Helvetica; background-color:#EEE; color:#000; width: 100px; height: 30px; font-size:11px; font-weight:bold; vertical-align:middle;}
fieldset button.cancel{ font-weight:normal; color:#666; background-color:#EEE;}

fieldset ul li input[type='text'],
fieldset ul li input[type='password'],
fieldset ul li textarea {
	border:solid 1px #888;
	padding:4px;
	font-size:11px;
	clear:both;
}

form#admin fieldset ul li input[type='text'],
form#admin fieldset ul li input[type='password'],
form#admin fieldset ul li textarea {
	padding:10px;
	font-size:26px;
	clear:both;
	background:transparent url(../images/campos-login.png) 0 0 no-repeat;
	padding:10px 30px;
	width:235px;
	border:none;
	height:70px;
	color:#FFF;

}

fieldset ul li span.cloneCamposOpcoes {
	line-height:25px;
	display:none;
}

fieldset ul li span.CamposOpcoes {
	line-height:25px;
}

fieldset ul li input[type='checkbox']{ margin-right:5px;}

fieldset ul li ul.checkboxlist{clear:both; margin:10px 0 0 0;}
fieldset ul li ul.checkboxlist li{margin:0 0 5px 0;}
fieldset ul li ul.checkboxlist li label{margin:0;}

.ativo{
	background-color: #ADFF2F;
}
.inativo{
	background-color: #D2691E;
}
/* ---------------------------------
GRIDVIEW
--------------------------------- */
table.gridview{ margin:0px; padding:0px; border-collapse:collapse;}
table.gridview a{color:#000;}
table.gridview td,
table.gridview th
{
	padding:5px;
	border:solid 1px #999;
	text-align:left;
}
table.gridview td ul.pagination{}
table.gridview td ul.pagination li{display:inline; margin-right:10px;}
table.gridview td ul.pagination li a{color:#000;}
table.gridview th{
	background-color:#004A8B;
	color:#FFF;
}

/* #### AREA ADMINSTRATIVA #### */

.album{  border-bottom: 1px solid #CCCCCC; margin-bottom: 20px; overflow: hidden; padding-bottom: 10px;}
.photo{float: left; margin: 0 10px; overflow: hidden; padding: 10px 6px 0 0; position: relative; width: 145px;}
.photo img{ border: 1px solid #999999;  max-height: 80px;  padding: 10px;}
.removeItem{background: url("../images/deleteMag.png") no-repeat scroll 0 0 transparent;  cursor: pointer; display: block; height: 20px;  right: -7px;  position: absolute;  text-indent: -99999px;  top: -13px;   width: 20px!important;}
.removeItemProducts{background: url("../images/deleteMag.png") no-repeat scroll 0 0 transparent;  cursor: pointer; display: block; height: 20px;  right: -7px;  position: absolute;  text-indent: -99999px;  top: -13px;   width: 20px!important;}


#accordion .box{padding:10px 0 40px 0; overflow:visible;}
#accordion .box fieldset{border:none;}


#wrapper{width:960px; margin: 0 auto; overflow:hidden;}
#left-side, #right-side {overflow:hidden;  float: left;  width: 300px; border:1px solid #999; border-radius:5px;}
#left-side h2, #right-side h2{background-color: black;  color: #FFFFFF;  padding: 5px 5px 5px 10px; }

form.formEdita{ float:left; width:600px; }
/*
background-image: linear-gradient(bottom, rgb(150,139,153) 18%, rgb(66,61,66) 59%, rgb(31,16,16) 100%);
background-image: -o-linear-gradient(bottom, rgb(150,139,153) 18%, rgb(66,61,66) 59%, rgb(31,16,16) 100%);
background-image: -moz-linear-gradient(bottom, rgb(150,139,153) 18%, rgb(66,61,66) 59%, rgb(31,16,16) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(150,139,153) 18%, rgb(66,61,66) 59%, rgb(31,16,16) 100%);
background-image: -ms-linear-gradient(bottom, rgb(150,139,153) 18%, rgb(66,61,66) 59%, rgb(31,16,16) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.18, rgb(150,139,153)),
	color-stop(0.59, rgb(66,61,66)),
	color-stop(1, rgb(31,16,16))
);

}
*/
#left-side { margin-right:16px;}
#left-side textarea{width:262px; resize:none;}
#left-side legend {display:none;}
#right-side{min-height:200px; float:right;}

#instructions{display:block; font-size:10px; margin: 10px 0 10px 12px;}

/* graficos */
#formGraficos {margin: 0 0 20px 21px; padding: 10px; font-size:12px; background:#EFF7FC;}
#formGraficos input {margin-right: 20px;}

#datatable {padding: 5px 5px 40px 50px; width: 360px; }
#datatable td {padding:5px; }
#datatable th {padding:5px; }
#datatable .borderBottom {border-bottom: 1px solid #CCC; text-align:center; }
#datatable .borderLeft {border-left: 1px solid #CCC; }
#datatable tr {border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; }
.textDataTable {color: #3E576F; fill: #3E576F; font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif; font-size: 16px;padding-left: 139px; }

#datatableRegiao {padding: 5px 5px 40px 21px; width: 930px; }
#datatableRegiao td {padding:5px; }
#datatableRegiao th {padding:5px; }
#datatableRegiao .borderBottom {border-bottom: 1px solid #CCC; text-align:center; }
#datatableRegiao .borderLeft {border-left: 1px solid #CCC; }
#datatableRegiao tr {border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; }
.textDataTableRegiao {color: #3E576F; fill: #3E576F; font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif; font-size: 16px;padding-left: 386px; }

#datatableProjetos {padding: 5px 5px 40px 21px; width: 930px; }
#datatableProjetos td {padding:5px; }
#datatableProjetos th {padding:5px; }
#datatableProjetos .borderBottom {border-bottom: 1px solid #CCC; text-align:left; }
#datatableProjetos .borderLeft {border-left: 1px solid #CCC; }
#datatableProjetos tr {border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; }
#buttomPrint {float:right; }

td.options-width	{padding: 0 0 0 10px;width: 210px;}
.table-header-check	{background: url(../images/table_header_checkbox.jpg) no-repeat;border: none;min-width: 29px;padding: 0px 0 0 10px;	width: 29px;	}
.table-header-options	{background: url(../images/table_header_options.jpg) no-repeat;border: none;min-width: 40px;padding: 0px 0 0 0;width: 40px;}
.table-header-repeat	{background: url(../images/table_header_repeat.jpg) repeat-x;border: none;font-size: 0px;line-height: 0;padding: 0px 0 0 0;}
.table-header-repeat{width:400px!important;}
.table-header-options span, .table-header-repeat span	{background: url(../images/table/table_sort_arrow.gif) right no-repeat;color: #fff;font-family: Tahoma;font-size: 11px;font-weight: bold;	line-height: 14px;	margin: 0 10px 0 10px;	padding: 0 10px 0 0;	cursor:pointer;	}
.table-header-options span:hover, .table-header-repeat span:hover, .send-button:hover{ color:#2aa7ff;	}
th.line-left	{border-left: 1px solid #373737;}
#table_id	tr.activity-blue {background: #e3eceb;}
#toggle-all { display: block; width: 17px;	height:17px;cursor: pointer;background: url(../images/shared/checkbox.gif) 0 -17px;	}
#toggle-all.toggle-checked {display: block;width: 17px;height:17px;background: url(../images/shared/checkbox.gif) 0 0;}
a.icon-1 {background: url(../images/table/table_icon_1.gif) no-repeat;display: block;float: left;height: 24px;margin: 0 8px 0 0;width: 24px;}
a:hover.icon-1	{background: url(../images/table/table_icon_1.gif) 0 -24px;}
.icon-2	{background: url(../images/table/table_icon_2.gif) no-repeat;display: block;float: left;height: 24px;margin: 0 8px 0 0;width: 24px;}
span:hover.icon-2	{background: url(../images/table/table_icon_2.gif) 0 -24px;}
.icon-6	{background: url(../images/table/table_icon_6.gif) no-repeat;display: block;float: left;height: 24px;margin: 0 8px 0 0;width: 24px;}
a:hover.icon-6	{background: url(../images/table/table_icon_6.gif) 0 -24px;}
.dataTables_filter{   clear: right;float: left;height: 35px;position: relative;top: 5px;}
.dataTables_length{  float: right;height: 35px;margin-right: 50px;width: auto;}
.dataTables_paginate { float: right; text-align: right; margin: -14px; margin-right: 0px; }

.dataTables_paginate span { position: relative; padding: 10px; }
.dataTables_paginate span a { padding: 2px; }

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {height: 19px; margin-right: 15px; cursor:pointer;}
.DTTT_container { float:right;}
.DTTT_container a { position:relative !important; }
#table_id_filter {display:none; }

button.DTTT_button, div.DTTT_button, a.DTTT_button { background: -moz-linear-gradient(center top , #FFFFFF 0%, #F3F3F3 89%, #F9F9F9 100%) repeat scroll 0 0 transparent; border: 1px solid #999999; border-radius: 2px 2px 2px 2px; box-shadow: 1px 1px 3px #CCCCCC; color: black !important; cursor: pointer; float: left; font-size: 0.88em; margin-right: 3px;padding: 5px 8px; position: relative;}

#mass-actions{ float: left; width: 620px; padding-bottom:10px; }
#mass-actions ul{ display: block; float: left; margin-right: 28px; overflow: hidden; padding-top: 8px; }
#mass-actions ul li{  display: block; float: left; margin-right: 10px;}
#retornoAjax form{ clear:both;float: left; width: 100%;}
#retornoAjax form select{ width:140px; ]width:auto;}
#filtro_projetos{ width:auto !important; ]width:auto;}
.remove-item {cursor:pointer; }
.format {background: -moz-linear-gradient(center top , #FFFFFF 0%, #F3F3F3 89%, #F9F9F9 100%) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 3px #CCCCCC;
    color: black !important;
    cursor: pointer;
    float: left;
    font-size: 0.88em;
    margin-right: 3px;
    padding: 5px 8px;
    position: relative; }


/* .error{ display: block !important; }

#mass-actions span.msg {
	position: absolute;
	margin: 10px 214px;
	color: #ff0000;
	font-weight: bold;
	display: none;
} */

span.error {
	position: absolute;
	margin: 33px 1px;
	color: #ff0000;
	font-weight: bold;
	display: none;
}

span.error-interno {
	margin: -13px 20px;
}

span.content-exist {
	position: relative;
	margin: 9px 21px;
	color: #ff0000;
	font-weight: bold;
	display: none;
}

span.error-exist {
	display: block;
}

span.sucess {
	color: #00895f;
    display: none;
    font-size: 14px;
    font-weight: bold;
    margin: 9px 1px;
    position: absolute;
}

span.success-geral {
	position: absolute;
	margin: -57px 303px;
	color: #00895f;
	font-size: 14px;
	font-weight: bold;
	display: none;
}

span.success-interno {
	margin: -30px 257px;
}

.section-date {
	font: normal 18px/18px Arial;
	color: #00885f;
	margin: 0;
}
p.title{
	font: normal 12px Arial;
	font-weight: bold;
	color: #666666;
	margin: 15px 0 0 0;
}
span.hour{
	font: normal 11px Arial;
	font-style: italic;
	color: #666666;
	margin-left: 10px;
}
article {
	margin-left:10px;
}
article p {
	margin: 10px;
	color: #666;
}



/*-- OLIVIRA - 04/02/2013 --*/
#topo{width:960px; height:174px; position:relative; top:0; background:url(../images/bg-coluna.jpg) repeat-x 0 0}
.lateral-direita{position:absolute; width:50%; overflow:hidden; height:178px; background:url(../images/bg-coluna.jpg) repeat-x 0 0; top:0; right:0}
#identifica{background:url(../images/bg-identifica.jpg) 0 0 no-repeat; width:407px; height:100px; position:relative; z-index:10}
.ponta-azul img{position:absolute; top:0; right:-15px}
.ponta-cinza img{position:absolute; top:0; right:-15px}
#indica{position:absolute; width:auto; font-size:12px; height:35px; background:#DDD; top:138px;}
#indica p{width:90px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#666; margin:0; padding:10px 10px 0 0; height:13px;}

ul#bread{width:auto; float:left; position:absolute; margin:0; padding:0; list-style:none; top:148px; left:121px; }
ul#bread li{width:auto; float:left; height:13px}
ul#bread li a{cursor:pointer; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color:#666; margin:0; padding:0; height:13px;}
ul#bread li a:hover{text-decoration:underline}

#navigation ul{list-style:none; position:relative; margin:0; padding:0 10px 0 0; width:auto; height:auto}
#navigation ul li{float:left; height:28px; margin:0; padding:10px 0 0 0; width:auto; color:#CFE0E9;position: relative;}
/*-- #navigation ul li:last-child ul{left: -170px;} --*/
#navigation ul li a{font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#FFF; text-decoration:none; cursor:pointer; margin:0; padding:0}
#navigation ul li a:hover{color:#ddffe2;}

#navigation ul ul { visibility: hidden; position: absolute; left: 0; display: block; width:200px; background:#007d54; padding:5px; margin: 7px 0 50px;}
#navigation ul ul li{float:none; font-size:12px; border-bottom:1px solid #CCC; }
#navigation ul ul li a{display:block; padding:10px; background:none;}
#navigation ul ul li a:hover{color:#FFF; background:#00ae76;}
.sf-submenu li {border-bottom:0 !important;padding:0 !important; height:auto !important;}

/*-- @TODO TESTE
ul.sf-menu{list-style:none; position:relative; margin:0; padding:0 10px 0 0; width:auto; height:auto}
ul.sf-menu li{float:left; height:28px; margin:0; padding:10px 0 0 0; width:auto; color:#CFE0E9;}
ul.sf-menu li a{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#CFE0E9; text-decoration:none; cursor:pointer; margin:0; padding:0}
ul.sf-menu li a:hover{color:#FFF;}

ul.sf-menu ul { visibility: hidden; position: absolute; left: 0; display: block; width:200px; background:#0D6393; padding:5px; margin: 8px 0 50px;}
ul.sf-menu ul li{float:none; font-size:12px; border-bottom:1px solid #CCC; padding:0;}
ul.sf-menu ul li a{display:block; padding:10px 5px; background:none;}
ul.sf-menu ul li a:hover{background:#D6D6D6; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px;}
--*/

#identifica h2{position:relative; float:left; font-family:Arial, Helvetica, sans-serif; color:#007d54; font-size:20px; margin:0; padding:0; font-weight:normal; left:5px; top:34px; width:200px; line-height:110%; letter-spacing:-1px}
#identifica .logo h3{border-top:1px solid #d4dde2; text-align: center; padding-top: 5px; color:#d4dde2;}
#identifica .logo h3 a{color:#018860;}
#identifica .logo h3 a.active{color:#999999;}
#identifica h2 span{font-size:11px; color:#999; letter-spacing:normal; margin:0; padding:0; position:relative; top:-6px }

ul#login{ margin:0; padding:0; list-style:none; width:auto; height:25px; position:absolute; top:47px; left:450px; z-index:14}
ul#login li{float:left; margin:0 4px 0 0; padding:0; width:auto; height:15px}
ul#login li a{float:left; cursor:pointer; padding:5px 10px 5px 0; font-size:10px; text-transform:uppercase; color:#999}
.bt-user{width:auto; float:left; height:15px; margin:0; padding:0; background:url(../images/bg-bt.png) 0 0 repeat-x}
.l-um{float:left; width:5px; height:25px; position:relative; z-index:15}
.l-dois{float:left; width:6px; height:25px; position:relative; z-index:15}

.icon-user{background:url(../images/sprit-icons.png) 0 0 no-repeat; width:20px; height:18px; float:left; position:relative; border:none; padding:0; margin:-2px 5px 0 0}
.icon-site{background:url(../images/sprit-icons.png) 0 -28px no-repeat; width:20px; height:18px; float:left; position:relative; border:none; padding:0; margin:-2px 5px 0 0}
.icon-login{background:url(../images/sprit-icons.png) 0 -58px no-repeat; width:20px; height:18px; float:left; position:relative; border:none; padding:0; margin:-2px 5px 0 0}

.botao{background:url(../images/bt-login.png) 0 0 no-repeat; width:119px; height:92px; position:absolute; margin:0; padding:0; border:none; cursor:pointer; top:121px; right:20px}
.botao:hover{background:url(../images/bt-login.png) 0 -92px no-repeat;}

.cor-main{background-color:transparent;}

/* ordenacao da galeria de imagens */
.upload-wrapper{ margin-left:10px; }
#thumb-list li, #thumbs div{
	border: 1px solid #999999;
    display: block;
    float: left;
    padding: 5px;
    margin:10px;
	box-shadow:-1px 2px 4px 0px black;
	position:relative;
	background-color:#FFFFFF;
	cursor:move;
}
#thumb-list li.empresas{ cursor: auto !important; }
#thumb-list li img, #thumbs div img{
	border: 1px solid #999999;
    clear: both;
    display: block;
    float: left;
    padding: 3px;
    width:80px;
}
#thumb-list li span, #thumbs div span{
	bottom: 0;
    clear: both;
    display: block;
    float: left;
	text-align:center;
	width:80px;
	margin-top:5px;
}

/* ======================================================
                         PROJETOS
   ====================================================== */
.saija-projetos-metas {
	position: relative;
}
.saija-projetos-metas ul.fields-list {
	position: relative;
}
.saija-projetos-metas .remove-tudo {
	position: absolute;
	right: 15px;
	display: inline-block;
	z-index: 5;
	width: 20px;
	height: 20px;
	font: 0/0 a;
	margin: 0 0 0 5px;
	text-indent: 0;
	border: 1px solid #00885f;
	-webkit-box-shadow: inset 1px 1px rgba(255, 255, 255, .5), 1px 1px 1px rgba(0, 0, 0, .45);
	box-shadow: inset 1px 1px rgba(255, 255, 255, .5), 1px 1px 1px rgba(0, 0, 0, .45);
	background: url(../images/sprite.png) no-repeat -56px -55px, -moz-linear-gradient(top, #2D946E 0%, #007850 100%);
	background: url(../images/sprite.png) no-repeat -56px -55px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2D946E), color-stop(100%, #007850));
	background: url(../images/sprite.png) no-repeat -56px -55px, -webkit-linear-gradient(top, #2D946E 0%, #007850 100%);
	background: url(../images/sprite.png) no-repeat -56px -55px, -o-linear-gradient(top, #2D946E 0%, #007850 100%);
	background: url(../images/sprite.png) no-repeat -56px -55px, -ms-linear-gradient(top, #2D946E 0%, #007850 100%);
	background: url(../images/sprite.png) no-repeat -56px -55px, linear-gradient(to bottom, #2D946E 0%, #007850 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2D946E', endColorstr=' #007850',GradientType=0 );url(../images/sprite.png),
}
.saija-projetos-metas .remove {
	width: 8px;
	height: 8px;
	display: inline-block;
	background: url(../images/sprite.png) no-repeat -182px -30px;
	position: absolute;
	top: 27px;
	right: -20px;
}

.news-product,
.users-subcategory {
	display: block;
	width: 110px;
	background-color: #fff;
	padding: 10px;
	cursor: pointer;
	margin: 2px 0;
	box-sizing: border-box;
	min-height: 32px;
	-webkit-transition: all .3s ease;
	vertical-align: top;
}

.news-product:hover {
	background-color: #f1f1f1;
	color: #333;
}

.related-checkboxes p {
	padding: 0 3px;
}

.related-checkbox--check {
	width: auto !important;
	box-shadow: none !important;
	border: none !important;
	margin-right: 5px !important;
	vertical-align: bottom;
}